<% content_for :header_class, 'about_us_content' %>
<% content_for :mainBreadcrumbHeading, "ABOUT".html_safe %>
<% content_for :hero_title, "ABOUT OUR TEAM".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->


<div id="my-tab-content" class="tab-content about-us-main">
  <div class="tab-pane active" id="visitors-help">
    <section class="top-padding-by-5 bottom-padding-by-4 scallop-top beige-bg faq-page-content-section" xmlns="http://www.w3.org/1999/html">
      <div class="center-div bottom-padding-by-4">
        <img src="assets/about_us_header_text.png"/>
      </div>
      <div class="layout-container about-us-content margin-bottom-6em">
        <p>
          Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
          Ipsum Lorem IpsumLorem IpsumLorem Ipsum  IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
          Ipsum Lorem IpsumLorem IpsumLorem Ipsum  IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
        </p>
        <p>
          Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
          Ipsum Lorem IpsumLorem IpsumLorem Ipsum  IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
          Ipsum Lorem IpsumLorem IpsumLorem Ipsum  IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
        </p>
      </div>
      <section class="about-us-slider-bg-image">
        <div class="testimonial-main-div">
          <div class="md-one-whole sm-one-whole lg-one-whole left-padding-by-5 about-us-slider testimonial-slider">
            <div class="user-image">
              <%= image_tag "/assets/about_us_slider_small_image.png", :class => "center-image-align" %>
              <div>
                <p class="text-align-center margin-top-0 testimonial-comment">Escape with your family to the beach and enjoy one of our beautiful beach rentals http://fb.me/6vPy3rQUs</p>
                <p class="text-align-center testimonial-user-name">Sandcastle Rentals</p>
              </div>
            </div>
            <div class="">
              <div class="user-image">
                <%= image_tag "/assets/about_us_slider_small_image.png", :class => "center-image-align" %>
              </div>
              <div>
                <p class="text-align-center margin-top-0 testimonial-comment">Escape with your family to the beach and enjoy one of our beautiful beach rentals http://fb.me/6vPy3rQUs</p>
                <p class="text-align-center testimonial-user-name">Sandcastle Rentals</p>
              </div>
            </div>
            <div class="">
              <%= image_tag "/assets/about_us_slider_small_image.png", :class => "center-image-align" %>
              <div>
                <p class="text-align-center margin-top-0 testimonial-comment">Escape with your family to the beach and enjoy one of our beautiful beach rentals http://fb.me/6vPy3rQUs</p>
                <p class="text-align-center testimonial-user-name">Sandcastle Rentals</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="center-div top-padding-by-5 bottom-padding-by-4">
        <img src="assets/contact_us_text_img.png"/>
      </div>
      <div class="layout-container">
        <div class="col-sm-8">
          <form method="post" action="/contact/thank-you" class="about-us-contact-form">
            <%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
            <div class="form-group">
              <input type="text" class="form-control font-family" id="name" placeholder="NAME" name="firstname">
            </div>
            <div class="form-group">
              <input type="emailId" class="form-control font-family" id="email" name="email" placeholder="EMAIL ADDRESS">
            </div>
            <div class="form-group">
              <textarea rows="7" class="form-control font-family" id="review" name="message" placeholder="MESSAGE"></textarea>
            </div>
            <br>
            <button type = "submit" class="btn btn-info btn-lg btn--blue">SEND MESSAGE &nbsp<i class = "fa fa-arrow-right"></i></button>
          </form>
        </div>
        <div class="col-md-3 want-to-chat-container">
          <div class="">
            <label class="want-to-chat-header">NEED HELP?</label>
          </div>
          <div class="form-group">
            <label class="want-to-chat-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</label>
          </div>
          <div class="checkbox">
            <i class="fa fa-phone" aria-hidden="true"></i><label><a class="font-color-black" href="tel:(888) 328-8491"> (888) 328-8491</a></label>
          </div>
          <div class="checkbox">
            <i class="fa fa-envelope-o" aria-hidden="true"></i><label><a class="font-color-black" href="mailto:info@gooceano.com"> info@gooceano.com</a></label>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>