<% content_for :hero_title, "About Us".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->

<section class="top-padding-by-5 bottom-padding-by-4 beige-bg">
  <div class="layout-container about-high">
    <div class="gw">
      <nav class="subnav g md-one-third">
        <ul>
          <li><a class="current" href="about.html">About Us</a></li>
          <li><a href="facilities.html">Facilities</a></li>
        </ul>
      </nav>
      <div class="subpage-content g md-two-thirds">
        <h1 class="heading-small">About Us</h1>

          <p><span>Hacienda del Mar</span> offers a quiet and private respite with easy access to the pristine beaches of the mainland side of the Sea of Cortez, only minutes away from the restaurants, shopping and nightlife of Puerto Peñasco, Mexico's newest emerging vacation destination. From the many porches are magnificent panoramic views of both the northern Sonoran desert and the sea.</p>
          <p>Decor is that of a traditional Mexican hacienda, with shaded porches and walkways, patio and barbecue, and hand-carved stone fountain in the beautifully landscaped yard and garden.</p>
          <p>A full breakfast featuring traditional Mexican cuisine or various specialty dishes are served each morning, and we do hope you'll join us. Breakfast is upstairs in the main house at 9 A.M.</p>
          <p>Guest rooms are non-smoking, although we do keep a few ashtrays scattered about on the outdoor porches so you can puff away in the great outdoors.</p>
          <p>Puerto Peñasco, also well known to Arizonans as "Rocky Point," is an easy four hour drive from either Phoenix or Tucson, or slightly more from Southern California by way of Interstate routes 8 or 10. There is a map and detailed driving instructions on our Map page.</p>
          <p>Hacienda del Mar is situated inside the gated community of Las Conchas, the oldest government approved subdivision in Mexico and the premier development of its kind. It comprises several thousand acres, most of it undeveloped, and includes several miles of unspoiled beachfront.</p>
      </div>
    </div>
  </div>
</section>
