<% content_for :header_class, 'attraction_details_page_content' %>
<% content_for :hero_title, "OLD PORT".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->
<% content_for :below_hero_title, "SIGHTS & LANDMARKS".html_safe %>


<section id="room_details_main_section" class="float-left full-width attraction-details-page-content-section" xmlns="http://www.w3.org/1999/html">
  <div class="layout-container">
    <div class="col-sm-12">
      <div class="col-sm-12 col-md-12 hotel-price-room-people-details-main">
        <div class="col-xs-4 col-md-4 sandcastle-text-capitalization find-location-mobile"><i class="fa fa-map-marker" aria-hidden="true"></i></i> Find Location</div>
        <div class="col-xs-5 col-md-4 rating-below-header-main">
          <div class="col-sm-12 roomdetails-page-user-rating float-left">
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-white"></i>
          </div>
          <div class="triangle4 float-left"></div><div class="float-left hotel-total-rating-count-label">4.0</div>
        </div>
        <div class="col-xs-3 col-md-4 below-header-likes-comments">
          <div class="col-xs-6 col-md-4"></div>
          <div class="col-xs-3 col-md-4 below-header-likes">
            <span class="fa-stack fa-3x room-details-fontawesome-common">
              <i class="fa fa-heart fa-stack-2x"></i>
              <span class="fa-stack-1x room-number">1</span>
            </span>
          </div>
          <div class="col-xs-3 col-md-4">
            <span class="fa-stack fa-3x room-details-fontawesome-common">
              <i class="fa fa-comment fa-stack-2x"></i>
              <span class="fa-stack-1x room-number">2</span>
            </span>
          </div>
        </div>
      </div>
      <div class="">
        <div class="col-sm-12 col-md-12 attraction-details-visitor-review-main">
          <div class="float-left common-font-20 sandcastle-bold sandcastle-text-capitalization room-details-common-div reviewer-highlight-heading">Reviewer Highlight</div>
          <div class="layout-container float-left">
            <div class="customer-review-section-main float-left">
              <div class="col-md-4 col-sm-12">
                <div class="sandcastle-text-capitalization row room-details-common-div col-sm-12 col-md-12">Visitor Rating</div>
                <div class="row attractions-details-common-div">
                  <div class="sandcastle-text-capitalization col-md-6">
                    <i class="fa fa-star-o star-color-yello"></i>
                    <i class="fa fa-star-o star-color-yello"></i>
                    <i class="fa fa-star-o star-color-yello"></i>
                    <i class="fa fa-star-o star-color-yello"></i>
                    <i class="fa fa-star-o star-color-yello"></i>
                  </div>
                  <div class="float-left col-md-2">88</div>
                </div>

                <div class="row attractions-details-common-div">
                  <div class="sandcastle-text-capitalization col-md-6">
                    <i class="fa fa-star-o star-color-yello"></i>
                    <i class="fa fa-star-o star-color-yello"></i>
                    <i class="fa fa-star-o star-color-yello"></i>
                    <i class="fa fa-star-o star-color-yello"></i>
                    <i class="fa fa-star-o sandcastle-text-color"></i>
                  </div>
                  <div class="float-left col-md-2">123</div>
                </div>

                <div class="row attractions-details-common-div">
                  <div class="sandcastle-text-capitalization col-md-6">
                    <i class="fa fa-star-o star-color-yello"></i>
                    <i class="fa fa-star-o star-color-yello"></i>
                    <i class="fa fa-star-o star-color-yello"></i>
                    <i class="fa fa-star-o sandcastle-text-color"></i>
                    <i class="fa fa-star-o sandcastle-text-color"></i>
                  </div>
                  <div class="float-left col-md-2">55</div>
                </div>

                <div class="row attractions-details-common-div">
                  <div class="sandcastle-text-capitalization col-md-6">
                    <i class="fa fa-star-o star-color-yello"></i>
                    <i class="fa fa-star-o star-color-yello"></i>
                    <i class="fa fa-star-o sandcastle-text-color"></i>
                    <i class="fa fa-star-o sandcastle-text-color"></i>
                    <i class="fa fa-star-o sandcastle-text-color"></i>
                  </div>
                  <div class="float-left col-md-2">5</div>
                </div>

                <div class="row attractions-details-common-div">
                  <div class="sandcastle-text-capitalization col-md-6">
                    <i class="fa fa-star-o star-color-yello"></i>
                    <i class="fa fa-star-o sandcastle-text-color"></i>
                    <i class="fa fa-star-o sandcastle-text-color"></i>
                    <i class="fa fa-star-o sandcastle-text-color"></i>
                    <i class="fa fa-star-o sandcastle-text-color"></i>
                  </div>
                  <div class="float-left col-md-2">9</div>
                </div>


              </div>
              <div class="col-md-1 col-sm-1"></div>
              <div class="col-md-7 col-sm-12 margin-by-30">
                <div class="customer-review-section-upper float-left">
                  <div class="room-details-reviewer-avatar float-left"> <img src="assets/reviewer_1.png"></div>
                  <div class="room-details-reviewer-name sandcastle-text-capitalization float-left sandcastle-bold">Jaime Martin</div>
                  <div class="room-details-reviewer-date float-left sandcastle-text-color">May 17th, 2016</div>
                  <div class="room-details-reviewer-rating float-left">
                    <div class="roomdetails-page-reviewer-rating">
                      <i class="fa fa-star-o star-color-yello"></i>
                      <i class="fa fa-star-o star-color-yello"></i>
                      <i class="fa fa-star-o star-color-yello"></i>
                      <i class="fa fa-star-o star-color-yello"></i>
                      <i class="fa fa-star-o sandcastle-text-color"></i>
                    </div>
                  </div>
                </div>
                <div class="room-details-reviewer-comments float-left sandcastle-text-color">"The house was amazing. We had such a great time. Love being able to wake up and walk right out to the beach"...<a class="show-more-details">read more</a></div>
                <div class="clear-floats reviewer-highlight-divider"></div>
                <div class="clear-floats text-right room-details-common-div see-remaining-reviews"><a class="sandcastle-text-capitalization">Read All 20 Reviews</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-divider room-details-section-divider float-left"></div>
        <div class="receipt-booking-details-section float-left full-width">
          <div class="feature-list-headings sandcastle-text-capitalization sandcastle-bold common-font-20">Gallery</div>
          <div class="our-facility-room-section float-left">
            <div class="float-left">
              <div class="float-left padding-left-bottom-2-px"><img src="assets/feature_room_6.png"></div>
              <div class="float-left padding-left-bottom-2-px"><img src="assets/feature_room_4.png"></div>
              <div class="float-left padding-left-bottom-2-px"><img src="assets/feature_room_1.png"></div>
              <div class="float-left">
                <div class="float-left"><img src="assets/feature_room_5.png"></div>
              </div>
            </div>
            <div class="float-left">
              <div class="float-left padding-left-bottom-2-px"><img src="assets/feature_room_2.png"></div>
              <div class="float-left"><img src="assets/feature_room_3.png"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="first-section-divider"></div>

  <div class="room-details-map-section">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMeOtBKPOmvtkmNo6TOxxxbOh_KtaCdiA"></script><div style="overflow:hidden;height:300px;width:100%;"><div id="gmap_canvas" style="height:300px;width:100%;"><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:8,center:new google.maps.LatLng(31.3268218,-113.5311843),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(31.3268218, -113.5311843)});infowindow = new google.maps.InfoWindow({content:"<b>SandCastle</b><br/>Puerto Pe&ntilde;asco Sonora, Mexico<br/> " });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
  </div>
  <div class="section-divider room-details-section-divider"></div>
  <div class="text-center room-details-map-section sandcastle-bold sandcastle-text-capitalization common-font-18 attractions-details-common-div">
    Customer Review
  </div>
  <div class="section-divider room-details-section-divider">
    <img src="assets/divider.png" />
  </div>
  <div class="text-center room-details-map-section sandcastle-text-capitalization common-font-12 attractions-details-common-div">
    Filter by Rating
  </div>
  <div class="text-center room-details-map-section sandcastle-text-capitalization common-font-12 attractions-details-common-div">
    <div class="layout-container attractions-details-common-div">
      <div class="attractions-details-common-div float-left col-md-1"></div>
      <div class="attractions-details-common-div float-left col-md-2">
        <div class="sandcastle-text-capitalization col-md-10 float-left">
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
        </div>
        <div class="float-left col-md-2">88</div>
      </div>

      <div class="attractions-details-common-div float-left col-md-2">
        <div class="sandcastle-text-capitalization col-md-10 float-left">
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o sandcastle-text-color"></i>
        </div>
        <div class="float-left col-md-2">123</div>
      </div>

      <div class="attractions-details-common-div float-left col-md-2">
        <div class="sandcastle-text-capitalization col-md-10 float-left">
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o sandcastle-text-color"></i>
          <i class="fa fa-star-o sandcastle-text-color"></i>
        </div>
        <div class="float-left col-md-2">55</div>
      </div>

      <div class="attractions-details-common-div float-left col-md-2">
        <div class="sandcastle-text-capitalization col-md-10 float-left">
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o sandcastle-text-color"></i>
          <i class="fa fa-star-o sandcastle-text-color"></i>
          <i class="fa fa-star-o sandcastle-text-color"></i>
        </div>
        <div class="float-left col-md-2">5</div>
      </div>

      <div class="attractions-details-common-div float-left col-md-2">
        <div class="sandcastle-text-capitalization col-md-10 float-left">
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o sandcastle-text-color"></i>
          <i class="fa fa-star-o sandcastle-text-color"></i>
          <i class="fa fa-star-o sandcastle-text-color"></i>
          <i class="fa fa-star-o sandcastle-text-color"></i>
        </div>
        <div class="float-left col-md-2">9</div>
      </div>
    </div>

  </div>

  <div class="section-divider room-details-section-divider"></div>

  <div class="customer-review-layout-container">
    <div class="customer-review-section-main">
      <div class="customer-review-section-upper float-left">
        <div class="room-details-reviewer-avatar float-left"> <img src="assets/reviewer_1.png"></div>
        <div class="room-details-reviewer-name sandcastle-text-capitalization float-left sandcastle-bold">Jaime Martin</div>
        <div class="room-details-reviewer-date float-left sandcastle-text-color">May 17th, 2016</div>
        <div class="room-details-reviewer-rating float-left">
          <div class="roomdetails-page-reviewer-rating">
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o sandcastle-text-color"></i>
          </div>
        </div>
      </div>
      <div class="room-details-reviewer-comments float-left sandcastle-text-color">"The house was amazing. We had such a great time. Love being able to wake up and walk right out to the beach"</div>
    </div>
    <div class="customer-review-section-main">
      <div class="customer-review-section-upper float-left">
        <div class="room-details-reviewer-avatar float-left"> <img src="assets/reviewer_1.png"></div>
        <div class="room-details-reviewer-name sandcastle-text-capitalization float-left sandcastle-bold">Jaime Martin</div>
        <div class="room-details-reviewer-date float-left sandcastle-text-color">May 17th, 2016</div>
        <div class="room-details-reviewer-rating float-left">
          <div class="roomdetails-page-reviewer-rating">
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o sandcastle-text-color"></i>
          </div>
        </div>
      </div>
      <div class="room-details-reviewer-comments float-left sandcastle-text-color">"The house was amazing. We had such a great time. Love being able to wake up and walk right out to the beach"</div>
    </div>
    <div class="row">
      <div class="col-md-6 customer-review-divider-main"><div class="section-divider customer-review-divider"><span></span></div></div>
      <div class="col-md-6 customer-review-divider-main"><div class="section-divider customer-review-divider"><span></span></div></div>
    </div>
  </div>

  <div class="customer-review-layout-container">
    <div class="customer-review-section-main">
      <div class="customer-review-section-upper float-left">
        <div class="room-details-reviewer-avatar float-left"> <img src="assets/reviewer_1.png"></div>
        <div class="room-details-reviewer-name sandcastle-text-capitalization float-left sandcastle-bold">Jaime Martin</div>
        <div class="room-details-reviewer-date float-left sandcastle-text-color">May 17th, 2016</div>
        <div class="room-details-reviewer-rating float-left">
          <div class="roomdetails-page-reviewer-rating">
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o sandcastle-text-color"></i>
          </div>
        </div>
      </div>
      <div class="room-details-reviewer-comments float-left sandcastle-text-color">"The house was amazing. We had such a great time. Love being able to wake up and walk right out to the beach"</div>
    </div>
    <div class="customer-review-section-main">
      <div class="customer-review-section-upper float-left">
        <div class="room-details-reviewer-avatar float-left"> <img src="assets/reviewer_1.png"></div>
        <div class="room-details-reviewer-name sandcastle-text-capitalization float-left sandcastle-bold">Jaime Martin</div>
        <div class="room-details-reviewer-date float-left sandcastle-text-color">May 17th, 2016</div>
        <div class="room-details-reviewer-rating float-left">
          <div class="roomdetails-page-reviewer-rating">
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o sandcastle-text-color"></i>
          </div>
        </div>
      </div>
      <div class="room-details-reviewer-comments float-left sandcastle-text-color">"The house was amazing. We had such a great time. Love being able to wake up and walk right out to the beach"</div>
    </div>
    <div class="row">
      <div class="col-md-6 customer-review-divider-main"><div class="section-divider customer-review-divider"><span></span></div></div>
      <div class="col-md-6 customer-review-divider-main"><div class="section-divider customer-review-divider"><span></span></div></div>
    </div>
  </div>
  <div class="customer-review-layout-container">
    <div class="customer-review-section-main">
      <div class="customer-review-section-upper float-left">
        <div class="room-details-reviewer-avatar float-left"> <img src="assets/reviewer_1.png"></div>
        <div class="room-details-reviewer-name sandcastle-text-capitalization float-left sandcastle-bold">Jaime Martin</div>
        <div class="room-details-reviewer-date float-left sandcastle-text-color">May 17th, 2016</div>
        <div class="room-details-reviewer-rating float-left">
          <div class="roomdetails-page-reviewer-rating">
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o sandcastle-text-color"></i>
          </div>
        </div>
      </div>
      <div class="room-details-reviewer-comments float-left sandcastle-text-color">"The house was amazing. We had such a great time. Love being able to wake up and walk right out to the beach"</div>
    </div>
    <div class="customer-review-section-main">
      <div class="customer-review-section-upper float-left">
        <div class="room-details-reviewer-avatar float-left"> <img src="assets/reviewer_1.png"></div>
        <div class="room-details-reviewer-name sandcastle-text-capitalization float-left sandcastle-bold">Jaime Martin</div>
        <div class="room-details-reviewer-date float-left sandcastle-text-color">May 17th, 2016</div>
        <div class="room-details-reviewer-rating float-left">
          <div class="roomdetails-page-reviewer-rating">
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o sandcastle-text-color"></i>
          </div>
        </div>
      </div>
      <div class="room-details-reviewer-comments float-left sandcastle-text-color">"The house was amazing. We had such a great time. Love being able to wake up and walk right out to the beach"</div>
    </div>
    <div class="row">
      <div class="col-md-6 customer-review-divider-main"><div class="section-divider customer-review-divider"><span></span></div></div>
      <div class="col-md-6 customer-review-divider-main"><div class="section-divider customer-review-divider"><span></span></div></div>
    </div>
  </div>
  <div class="customer-review-layout-container">
    <div class="customer-review-section-main">
      <div class="customer-review-section-upper float-left">
        <div class="room-details-reviewer-avatar float-left"> <img src="assets/reviewer_1.png"></div>
        <div class="room-details-reviewer-name sandcastle-text-capitalization float-left sandcastle-bold">Jaime Martin</div>
        <div class="room-details-reviewer-date float-left sandcastle-text-color">May 17th, 2016</div>
        <div class="room-details-reviewer-rating float-left">
          <div class="roomdetails-page-reviewer-rating">
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o sandcastle-text-color"></i>
          </div>
        </div>
      </div>
      <div class="room-details-reviewer-comments float-left sandcastle-text-color">"The house was amazing. We had such a great time. Love being able to wake up and walk right out to the beach"</div>
    </div>
    <div class="customer-review-section-main">
      <div class="customer-review-section-upper float-left">
        <div class="room-details-reviewer-avatar float-left"> <img src="assets/reviewer_1.png"></div>
        <div class="room-details-reviewer-name sandcastle-text-capitalization float-left sandcastle-bold">Jaime Martin</div>
        <div class="room-details-reviewer-date float-left sandcastle-text-color">May 17th, 2016</div>
        <div class="room-details-reviewer-rating float-left">
          <div class="roomdetails-page-reviewer-rating">
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o sandcastle-text-color"></i>
          </div>
        </div>
      </div>
      <div class="room-details-reviewer-comments float-left sandcastle-text-color">"The house was amazing. We had such a great time. Love being able to wake up and walk right out to the beach"</div>
    </div>
  </div>
  <div class="section-divider room-details-section-divider float-left"></div>
  <div class="text-center room-details-map-section sandcastle-bold sandcastle-text-capitalization common-font-18 clear-floats">
    Post a Review
  </div>

  <div class="section-divider room-details-section-divider">
    <img src="assets/divider.png" />
  </div>
  <div class="layout-container room-details-post-review-main">
  <form class="room-details-post-review">
    <%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
    <div class="row">
      <div class="col-sm-4"><input type="text" name="firstname" class="firstname text-box-height input-appear" placeholder = "FIRST NAME"></div>
      <div class="col-sm-4"><input type="text" name="lastname" class="firstname text-box-height input-appear" placeholder = "LAST NAME"></div>
      <div class="col-sm-4"><input type="text" name="emailId" class="email text-box-height input-appear" placeholder = "E-MAIL ADDRESS"><p class="error invalid-email">Please enter a valid email address.</p></div>
    </div>
    <div class="your-rating-label sandcastle-text-capitalization sandcastle-text-color sandcastle-text-font-montserrat">Your Rating</div>
    <div class="row all-rating-content">
      <div class="col-sm-2"><div class="roomdetails-page-reviewer-rating">
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
      </div></div>
      <div class="col-sm-2"><div class="roomdetails-page-reviewer-rating">
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
      </div></div>
      <div class="col-sm-2"><div class="roomdetails-page-reviewer-rating">
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
      </div></div>
      <div class="col-sm-2"><div class="roomdetails-page-reviewer-rating">
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
      </div></div>
      <div class="col-sm-2"><div class="roomdetails-page-reviewer-rating">
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
      </div></div>
    </div>

    <div class="row">
      <textarea class="special-requests input-appear padding-top-15-px" rows="2" name="message" placeholder = "REVIEW" ></textarea>
    </div>
    <button type = "submit" class="btn btn-info btn-lg btn--blue sandcastle-text-font-montserrat common-font-18">POST REVIEW &nbsp<i class = "fa fa-arrow-right"></i></button>
  </form>
    </div>
  <div class="section-divider room-details-section-divider"></div>
</section>
<div class="section-divider">
  <img src="assets/divider.png" />
</div>
<div class="main-heading-div">
  <img src="assets/featured-attraction-text.png">
</div>
<!--Featured Attractions-->

<section class="padding-bottom-2 padding-top-1 float-left full-width">
  <div class="feature-atrraction-sliders">
    <div class="md-one-whole sm-one-whole lg-one-whole left-padding-by-5 featured-attraction-slider">

      <div class="venues">
        <img class="outfocus-images" src="assets/IMG_1900.jpg" />
      </div>

      <div class="venues">
        <img class="infocus-images" src="assets/cholla-bay.jpg"/>
        <div class="image-caption">CHOLLA BAY</div>
        <div class="feedback">
          <div class="likes">
            <i class="fa fa-heart"></i>
            <span class="number">227</span>
          </div>
          <div class="comments">
            <i class="fa fa-comment"></i>
            <span class="number">6</span>
          </div>
        </div>
      </div>

      <div class="venues">
        <img class="infocus-images" src="assets/ecofun-rentals.jpg" />
        <div class="image-caption">ECOFUN RENTALS</div>
        <div class="feedback">
          <div class="likes">
            <i class="fa fa-heart"></i>
            <span class="number">320</span>
          </div>
          <div class="comments">
            <i class="fa fa-comment"></i>
            <span class="number">7</span>
          </div>
        </div>
      </div>

      <div class="venues">
        <img class="infocus-images" src="assets/playa-bonita.gif" />
        <div class="image-caption">PLAYA BONITA BEACH</div>
        <div class="feedback">
          <div class="likes">
            <i class="fa fa-heart"></i>
            <span class="number">101</span>
          </div>
          <div class="comments">
            <i class="fa fa-comment"></i>
            <span class="number">2</span>
          </div>
        </div>
      </div>

      <div class="venues">
        <img class="outfocus-images" src="assets/street-view.jpg" />
      </div>
    </div>
  </div>
  <div class="section-divider room-details-section-divider"></div>
</section>

<div class="section-divider">
  <img src="assets/divider.png" />
</div>