<% content_for :hero_title, "Contact Us".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->

<section class="top-padding-by-5 bottom-padding-by-4 beige-bg">
    <div class="layout-container contact-high">
        <div class="gw">
            <nav class="subnav g md-one-third">
                <ul>
                    <li><a class="current" href="contact.html">Contact Us</a></li>
                    <li><a href="maps.html">Maps</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                </ul>
            </nav>
            <div class="subpage-content g md-two-thirds">
                <h1 class="heading-small">Contact Us</h1>
                <p>For more information, please fill out the following form, or contact us with any of the methods below this form.  Please make sure that your e-mail address is correct so that we may reply.</p>
                <h2 class="heading-medium top-spacing">Contact Information</h2>
                <form method="post" action="/contact/thank-you" class="contact-form">
                    <%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
                    <fieldset class="half">
                        <label>First Name<span class="important">*</span></label>
                        <input type="text" name="firstname" class="firstname text-box-height">
                    </fieldset>
                    <fieldset class="half right">
                        <label>Last Name<span class="important">*</span></label>
                        <input type="text" name="lastname" class="lastname text-box-height">
                    </fieldset>
                    <fieldset class="half">
                        <label>Email Address<span class="important">*</span></label>
                        <input type="text" name="emailId" class="email text-box-height">
                        <p class="error invalid-email">Please enter a valid email address.</p>
                    </fieldset>
                    <fieldset class="half right">
                        <label>Phone Number</label>
                        <input type="tel" name="phone" class="number-validate text-box-height" maxlength="12" onpaste="return false" class="phone">
                    </fieldset>
                    <fieldset>
                        <label>Special requests or questions?<span class="important">*</span></label>
                        <textarea class="special-requests" name="message"  ></textarea>
                    </fieldset>
                    <footer class="form__actions">
                        <article class="two-fifths">
                            <p class="important">* Denotes a required field</p>
                        </article>
                        <article class="field two-fiths">
                            <input class="field__input btn submit btn--brown" type="submit" id="submit" value="Submit Form">
                            <span  class="field__feedback"></span>
                            <span  class="field__hint"></span>
                        </article>
                    </footer>
                </form>
                <hr class="dark">
                <h2 class="heading-medium">Contact by Email</h2>
                <div class="gw">
                    <div class="g sm-one-half">
                        <p class="sans">
                            <span class="label"><b>Email Address</b></span><br>
                            <a class="dark hacienda-hover-color" href="mailto:info@Haciendabnb.com">info@Haciendabnb.com</a>
                        </p>
                    </div>
                </div>
                <hr class="dark">
                <h2 class="heading-medium">Contact by Phone</h2>
                <div class="gw">
                    <div class="g sm-one-half">
                        <p class="sans">
                            <span class="label"><b>Reservation line (toll free from U.S.)</b></span><br>
                            <a class="dark telephone hacienda-hover-color" href="tel:18883288491">(888) 328-8491</a>
                        </p>
                    </div>
                    <div class="g sm-one-half">
                        <p class="sans">
                            <span class="label"><b>Fax from U.S.</b></span><br>
                            <a class="dark telephone hacienda-hover-color" href="tel:16023912799">(602) 391-2799</a>
                        </p>
                    </div>
                    <div class="g sm-one-half">
                        <p class="sans">
                            <span class="label"><b>Telephone from Mexico</b></span><br>
                            <a class="dark telephone hacienda-hover-color" href="tel:(602) 635-2186">(602) 635-2186</a>
                        </p>
                    </div>
                    <div class="g sm-one-half">
                        <p class="sans">
                            <span class="label"><b>Fax from Mexico</b></span><br>
                            <a class="dark telephone hacienda-hover-color" href="tel:016383830801">01 (638) 383-0801</a>
                        </p>
                    </div>
                </div>
                <hr class="dark">
                <h2 class="heading-medium">Address</h2>
                <div class="gw">
                    <div class="g sm-one-half">
                        <p class="sans">
                            <span class="label"><b>Hacienda del Mar</b></span><br>
                            <span>Bed and Breakfast</span><br>
                            <span>Puerto Peñasco</span><br>
                            <span>Sonora, Mexico</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:340px;width:100%;'><div id='gmap_canvas' style='height:340px;width:100%;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="https://privacypolicytemplate.net">privacy policy template</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:10,center:new google.maps.LatLng(31.3268218,-113.5311843),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(31.3268218,-113.5311843)});infowindow = new google.maps.InfoWindow({content:'<strong>Hacienda del Mar</strong><br>Puerto Peñasco Sonora, Mexico<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
