<% content_for :hero_title, "Contact Us".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->


<link href="//fonts.googleapis.com/css?family=Montserrat:400normal|Grand+Hotel:400normal&amp;subset=all" rel="stylesheet" type="text/css">

<section class="top-padding-by-5 bottom-padding-by-4 beige-bg bg-image" >


<div class = "contact-us">


    <form method="post" action="/contact/thank-you" class="contact-form">
        <%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>

         <div  class="contact-header">
                <h1 class = "grand-hotel">Contact Us</h1>
                <h2>WE'D LOVE TO HEAR FROM YOU</h2>
         </div>


        <input type="text" name="firstname" class="firstname text-box-height input-appear" placeholder = "NAME">

        <input type="text" name="emailId" class="email text-box-height input-appear" placeholder = "EMAIL ADDRESS">
        <p class="error invalid-email">Please enter a valid email address.</p>

        <textarea class="special-requests input-appear" rows="4" name="message" placeholder = "MESSAGE" ></textarea>

        <button type = "submit" class="btn btn-info btn-lg btn--blue">SEND MESSAGE &nbsp<i class = "fa fa-arrow-right"></i></button>
    </form>
</div>

<div class = "need-help">
    <div>
        <h1 class = "grand-hotel">Need Help?</h1>
        <h2>WE ARE HERE</h2>
    </div>


    <div>
        <div class = "call-now">
         <i class = "fa fa-phone"></i>
            <div>CALL NOW!</div>
            <div>(888) 328-8491</div>
        </div>

        <div class = "email-now">
            <i class = "fa fa-envelope-o"></i>
            <div>EMAIL NOW!</div>
            <div>
                 <a style= 'color: #404B50' href="mailto:INFO@SANDCASTLERENTALS.COM">
                    INFO@SANDCASTLERENTALS.COM
                </a>
            </div>
        </div>
    </div>

</div>



</section>

