<% content_for :header_class, 'facility_content' %>
<% content_for :mainBreadcrumbHeading, "FACILITIES".html_safe %>
<% content_for :hero_title, "OUR FACILITY".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->


<div id="my-tab-content" class="tab-content about-us-main">
  <div class="tab-pane active" id="visitors-help">
    <section class="top-padding-by-5 scallop-top beige-bg facilities-page-content-section" xmlns="http://www.w3.org/1999/html">
      <div class="layout-container">
        <div class="col-sm-8 about-our-facility-container padding-left-0-px"><div class="common-font-20 sandcastle-bold sandcastle-text-capitalization">ABOUT OUR FACILITY</div>
          <div class="about-our-facility-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </div>
        <div class="col-md-3 want-to-chat-container margin-left-3">
          <div class="">
            <label class="want-to-chat-header">NEED HELP?</label>
          </div>
          <div class="form-group">
            <label class="want-to-chat-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</label>
          </div>
          <div class="checkbox">
            <i class="fa fa-phone" aria-hidden="true"></i><label> (888) 328-841</label>
          </div>
          <div class="checkbox">
            <i class="fa fa-envelope-o" aria-hidden="true"></i><label> info@gooceano.com</label>
          </div>
        </div>
        <div class="room-details-feature-section-main float-left full-width bottom-padding-by-4">
          <div class="booking-receipt-headings sandcastle-text-capitalization sandcastle-bold common-font-20">Features</div>
          <div class="row">
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization">Two beds</div></div>
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization">Beach</div></div>
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization">Internet Access</div></div>
          </div>
          <div class="row">
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization">Two baths</div></div>
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization">Kitchen</div></div>
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization">Beach Access</div></div>
          </div>
          <div class="row">
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization">Entire House</div></div>
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization">Television</div></div>
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization">Air Conditioning</div></div>
          </div>
        </div>
      </div>


      <div class="section-divider main-content-sectio-devider">
        <img src="assets/divider.png" />
      </div>
      <div class="white-background center-div bottom-padding-by-4">
          <img src="assets/featured-rooms-text.png" />
      </div>
      <section class="featured-rooms-slider-section">
        <div class="layout-container margin-0" style="padding:0px;">
          <div class="md-one-whole sm-one-whole lg-one-whole left-padding-by-5 slider5">
            <div class="md-one-whole sm-one-whole">
              <div class="md-five-twelfths sm-five-twelfths lg-five-twelfths float-left">
                <div class="md-one-whole sm-one-whole call-now-bg">
                  <span class="call-now-text">Call Now</span>
                  <div class="phone-number-text">(888) 328-8491</div>
                </div>
                <div class="room-details-main-div">
                  <div class='hot-offer'>HOT OFFER</div>
                  <div class="room-name-text">Courtyard 1</div>
                  <div class="rating-icon-div"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></div>
                  <div class="room-details">
                    Courtyard 1 is a room located at Hacienda del Mar. Courtyard 1 sleeps 2 people. It has a queen size bed, private bath, heat, AC, ceiling fan, and access to a common sitting room. Hacienda del Mar is a seven-unit hacienda style home situated in the gated community of Las Conchas. Rooms can be rented individually or in any combination to accommodate groups up to 15 people.
                  </div>
                  <img src="assets/view-offer.png" class="view-offer-btn" />
                </div>
              </div>
              <div class="md-five-twelfths sm-five-twelfths lg-five-twelfths float-left">
                <img alt="" src="assets/1539620.jpg" height="420">
                <img class="offer-rate" src="assets/offer-notice.png">
                <img src="assets/image-room-overlay.png" class="room-icon-div-img">
                <!--<div class="room-icon-div">-->
                <!--<i class="fa fa-bed"></i>-->
                <!--<i class="icon icon-bed"></i>-->
                <!--<i class="icon icon-guests"></i>-->
                <!--<i class="fa fa-star"></i>-->
                <!--</div>-->
              </div>
              <div class="md-two-twelfths sm-two-twelfths lg-two-twelfths float-left last-child-div">
                <img alt="" src="assets/st-jude-on-the-little.jpg">
              </div>
            </div>
            <div class="md-one-whole sm-one-whole">
              <div class="md-five-twelfths sm-five-twelfths lg-five-twelfths float-left">
                <div class="md-one-whole sm-one-whole call-now-bg" >
                  <span class="call-now-text">Call Now</span>
                  <div class="phone-number-text">(888) 328-8491</div>
                </div>
                <div class="room-details-main-div">
                  <div class='hot-offer'>HOT OFFER</div>
                  <div class="room-name-text">Courtyard 1</div>
                  <div class="rating-icon-div"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></div>
                  <div class="room-details">
                    Courtyard 1 is a room located at Hacienda del Mar. Courtyard 1 sleeps 2 people. It has a queen size bed, private bath, heat, AC, ceiling fan, and access to a common sitting room. Hacienda del Mar is a seven-unit hacienda style home situated in the gated community of Las Conchas. Rooms can be rented individually or in any combination to accommodate groups up to 15 people.
                  </div>
                  <img class="view-offer-btn" src="assets/view-offer.png" />
                </div>
              </div>
              <div class="md-five-twelfths sm-five-twelfths lg-five-twelfths float-left">
                <img alt="" src="assets/1539620.jpg" height="420">
                <img class="offer-rate" src="assets/offer-notice.png">
                <img src="assets/image-room-overlay.png" class="room-icon-div-img">
                <!--<div class="room-icon-div">-->
                <!--<i class="icon icon-bath"></i>-->
                <!--<i class="icon icon-bed"></i>-->
                <!--<i class="icon icon-guests"></i>-->
                <!--<i class="fa fa-star"></i>-->
                <!--</div> -->
              </div>
              <div class="md-two-twelfths sm-two-twelfths lg-two-twelfths float-left last-child-div">
                <img alt="" src="assets/st-jude-on-the-little.jpg" >
              </div>
            </div>
          </div>
        </div>
      </section>

    <div class="layout-container">
      <div class="center-div top-padding-by-5 bottom-padding-by-4">
        <img src="assets/our_facility_header_text.png" />
      </div>
      <div class="our-facility-room-section float-left">
        <div class="float-left">
          <div class="float-left padding-left-bottom-2-px"><img src="assets/feature_room_6.png"></div>
          <div class="float-left padding-left-bottom-2-px"><img src="assets/feature_room_4.png"></div>
          <div class="float-left padding-left-bottom-2-px"><img src="assets/feature_room_1.png"></div>
          <div class="float-left">
            <div class="float-left"><img src="assets/feature_room_5.png"></div>
          </div>
        </div>
        <div class="float-left">
          <div class="float-left padding-left-bottom-2-px"><img src="assets/feature_room_2.png"></div>
          <div class="float-left"><img src="assets/feature_room_3.png"></div>
        </div>
      </div>
    </div>
      <div class="top-padding-by-5">
        <img width="100%" src="assets/Map.png"/>
      </div>
      <section class="facilities-testimonial-main-section">
        <div class="testimonial-main-div">
          <div class="md-one-whole sm-one-whole lg-one-whole left-padding-by-5 facilities-testimonial-slider">
            <div class="user-image">
              <%= image_tag "/assets/testimonial_user_image.png", :class => "center-image-align" %>
              <div class="facilities-testimonial-text-color">
                <p class="text-align-center margin-top-0 testimonial-comment">Rental was clean and well furnished.  We were just where we wanted to be...right on the beach.</p>
                <p class="text-align-center testimonial-user-name">Janice Lucero</p>
                <div class="testimonial-user-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
                <p class="text-align-center testimonial-comment">COURTYARD 1</p>
              </div>
            </div>
            <div class="facilities-testimonial-text-color">
              <div class="user-image">
                <%= image_tag "/assets/testimonial_user_image.png", :class => "center-image-align" %>
              </div>
              <div>
                <p class="text-align-center margin-top-0 testimonial-comment">I was very pleased with our stay at Hacienda Del Mar. It's very close to the beach. Less then a two minute walk. The AC units are very cold. Turn them on and is 15 mins the rooms are cool. The property is very private so you can relax outside and take in the sea breeze. I read other reviews and I'm glad I choose to experience it for myself. I would definitely stay here again in the future.</p>
                <p class="text-align-center testimonial-user-name">Leo Madrid</p>
                <div class="testimonial-user-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
                <p class="text-align-center testimonial-comment">COURTYARD 1</p>
              </div>
            </div>
            <div class="facilities-testimonial-text-color">
              <%= image_tag "/assets/testimonial_user_image.png", :class => "center-image-align" %>
              <div>
                <p class="text-align-center margin-top-0 testimonial-comment">Buena estancia, la casa estaba muy limpia y sin ningún problema de servicio, esta diseñada para grupos individuales, tiene múltiples cocinas y areas.</p>
                <p class="text-align-center testimonial-user-name">Raul Villalva</p>
                <div class="testimonial-user-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
                <p class="text-align-center testimonial-comment">COURTYARD 1</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>