<% content_for :hero_title, "Facilities".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->

<section class="top-padding-by-5 padded-bottom scallop-top beige-bg">
  <div class="layout-container">
    <div class="gw">
      <nav class="subnav g md-one-third">
        <ul>
          <li><a href="about.html">About Us</a></li>
          <li><a class="current" href="facilities.html">Facilities</a></li>
        </ul>
      </nav>
      <div class="subpage-content g md-two-thirds about-high">
        <h1 class="heading-small">Facilities</h1>
        <p>Hacienda del Mar is a seven-rooms bed and breakfast in Las Conchas, which the rooms can be rented individually or any combination to accommodate groups up to fifteen (15) people.</p>
        <h2 class="sub-heading-medium">Hacienda del Mar features the following:</h2>
        <ul class="facilities-desc">
          <li>A quiet and private respite with easy access to the pristine beaches of the mainland side of the Sea of Cortez</li>
          <li>Located minutes away from the restaurants, shopping and nightlife of Puerto Peñasco, Mexico's newest emerging vacation destination</li>
          <li>Magnificent panoramic views of both the northern Sonoran desert and the sea</li>
          <li>Traditional Mexican hacienda decor, with shaded porches and walkways, patio and barbecue, and a hand-carved stone fountain</li>
          <li>Non-smoking guest rooms with a few ashtrays on the outdoor porches</li>
          <li>Guest rooms have a private tiled bath, queen beds with pillow-top mattresses</li>
          <li>Most guest rooms have a gas fireplace</li>
          <li>Stunning Boveda (brick dome) ceilings in the upper level rooms including La Paloma, Chuparosa and La Sala</li>
          <li>Access to a common game room/sitting area with fireplace and satellite TV</li>
          <li>Large patio with a gas grill and full kitchen</li>
          <li>Outside shower for swimmers</li>
          <li>Ample free parking</li>
          <li>No Smoking Inside</li>
          <li>No Pets</li>
          <li>Children under the age of 2 stay free</li>
        </ul>
      </div>
    </div>
  </div>
</section>