<% content_for :header_class, 'maps_page_content' %>
<% content_for :mainBreadcrumbHeading, "MAPS".html_safe %>
<% content_for :hero_title, "HELPFUL MAPS".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->

<div id="my-tab-content" class="tab-content maps-main-section">
  <div class="tab-pane active" id="visitors-help">
    <section class=" padding-top-4 scallop-top beige-bg privacy-policy-page-content" xmlns="http://www.w3.org/1999/html">
      <div class="center-div"><img src="assets/help_getting_arround_text.png"/></div>
      <div class="center-div top-padding-by-5"><img src="assets/map_details_image1.png"/></div>
      <div class="center-div top-padding-by-5"><img src="assets/map_details_image2.png"/></div>
      <div class="map-image padding-top-10">
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMeOtBKPOmvtkmNo6TOxxxbOh_KtaCdiA"></script><div style="overflow:hidden;height:300px;width:100%;"><div id="gmap_canvas" style="height:300px;width:100%;"><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:8,center:new google.maps.LatLng(31.3268218,-113.5311843),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(31.3268218, -113.5311843)});infowindow = new google.maps.InfoWindow({content:"<b>SandCastle</b><br/>Puerto Pe&ntilde;asco Sonora, Mexico<br/> " });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
      </div>
      <div class = "need-help">
        <div class="need-help-text-section">
          <h1 class = "grand-hotel">Need Help?</h1>
          <h2>WE ARE HERE</h2>
        </div>
        <div>
          <div class = "call-now">
            <i class = "fa fa-phone"></i>
            <div>CALL NOW!</div>
            <div>(888) 328-8491</div>
          </div>
          <div class = "email-now">
            <i class = "fa fa-envelope-o"></i>
            <div>EMAIL NOW!</div>
            <div>
              <a style= 'color: #404B50' href="mailto:INFO@SANDCASTLERENTALS.COM">
                INFO@SANDCASTLERENTALS.COM
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>