<% content_for :header_class, 'new-client-header-content' %>
<% content_for :hero_title, "<div class='sandcastle-text-capitalization'>Earn money.</div><br> <div class='sandcastle-text-capitalization'>Become host.</div><br><div class='new-header-client-text common-font-15'>Let us handle your rental property.<br>No sweat.No hassle.Simply cared for.<br><input class='header-start-hosting-button sandcastle-text-capitalization' type='button' value='Start hosting'></div>".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->
<div class="section-divider main-content-sectio-devider float-left"></div>
<div class="newclient-content-section-divider-feature float-left">
  <div class="sandcastle-text-font-grant-hotel text-center common-font-52 sandcastle-text-color">Let's Get Started</div>
  <div class="sandcastle-text-capitalization text-center sandcastle-color-blue">Get your listing started</div>
</div>
<div class="section-divider new-client-section-divider float-left"></div>
<div class="section-divider new-client-section-divider float-left list-your-property-divider">
  <img src="assets/list_your_property.png">
  <div class="list-your-property-tabs-main">
    <div class="sandcastle-text-capitalization float-left common-font-11 list-your-property-tabs list-your-property-tabs-main-info">Main info</div>
    <div class="sandcastle-text-capitalization float-left common-font-11 list-your-property-tabs list-your-property-tabs-prop-info sandcastle-text-color">Property information</div>
    <div class="sandcastle-text-capitalization float-left common-font-11 list-your-property-tabs list-your-property-tabs-thank-you sandcastle-text-color">Thank you</div>
  </div>
</div>
<div class="section-divider new-client-section-divider float-left"></div>
<section class="property-listing-form-section sandcastle-text-font-montserrat new-client-inner-main-content float-left">
  <div class="layout-container">
    <form class="property-listing-form">
    <%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
    <div class="row">
      <div class="col-xs-6 form-group">
        <label class="sandcastle-text-capitalization sandcastle-text-font-montserrat">First name</label>
        <input class="form-control" type="text"/>
      </div>
      <div class="col-xs-6 form-group">
        <label class="sandcastle-text-capitalization sandcastle-text-font-montserrat">Last name</label>
        <input class="form-control" type="text"/>
      </div>
      </div>
      <div class="row">
      <div class="col-xs-6 form-group">
        <label class="sandcastle-text-capitalization sandcastle-text-font-montserrat">Email</label>
        <input type="text" name="emailId" class="email form-control"><p class="error invalid-email">Please enter a valid email address.</p>
      </div>
      <div class="col-xs-6 form-group">
        <label class="sandcastle-text-capitalization sandcastle-text-font-montserrat">Phone number</label>
        <input type="number" name="phone" class="phonenumber form-control">
      </div>
    </div>
      <div class="row">
        <div class="col-xs-12 form-group">
          <label class="sandcastle-text-capitalization sandcastle-text-font-montserrat">Tell Us About Your Property</label>
          <textarea class="special-requests form-control" rows="2" name="message"></textarea>
        </div>
      </div>
      <div class="row start-hosting-button-main">
        <div class="col-xs-5 form-group">
          <button class="btn btn-info btn-lg btn sandcastle-text-font-montserrat sandcastle-text-capitalization">Start Hosting</button>
        </div>
      </div>
    </form>
  </div>
  <div class = "need-help">
    <div class="need-help-text-section">
      <h1 class = "grand-hotel">Need Help?</h1>
      <h2 class="we-are-here-text-color">WE ARE HERE</h2>
    </div>
    <div>
      <div class = "call-now">
        <i class = "fa fa-phone"></i>
        <div>CALL NOW!</div>
        <div><a href="tel:(888) 328-8491">(888) 328-8491</a></div>
      </div>
      <div class = "email-now">
        <i class = "fa fa-envelope-o"></i>
        <div>EMAIL NOW!</div>
        <div>
          <a  href="mailto:INFO@SANDCASTLERENTALS.COM">
            INFO@SANDCASTLERENTALS.COM
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section-divider main-content-sectio-devider float-left"></div>
  <section class="why-sandcastle-main-section">
    <div class="why-sandcastle-rental-header text-center float-left full-width sandcastle-text-font-grant-hotel common-font-52">Why Sandcastle Rentals?</div>
    <div class="sandcastle-text-capitalization text-center float-left full-width common-font-11">We make it easy</div>
    <div class="section-divider main-content-sectio-devider float-left"></div>
    <div class="row why-sandcastle-first-row">
      <div class="col-xs-4">
        <div class="row sandcastle-text-capitalization text-center why-sandcastle-fontawesomes"><img src="assets/real_estate.png"> </div>
        <div class="row sandcastle-text-capitalization text-center common-font-24">Real Estate</div>
        <div class="row text-center why-sandcastle-departmental-text sandcastle-text-color common-font-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
      <div class="col-xs-4">
        <div class="row sandcastle-text-capitalization text-center why-sandcastle-fontawesomes">
          <img src="assets/rental_icon.png">
        </div>
        <div class="row sandcastle-text-capitalization text-center common-font-24">Retals</div>
        <div class="row text-center why-sandcastle-departmental-text sandcastle-text-color common-font-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
      <div class="col-xs-4">
        <div class="row sandcastle-text-capitalization text-center why-sandcastle-fontawesomes"><img src="assets/cleaning_icon.png"></div>
        <div class="row sandcastle-text-capitalization text-center common-font-24">Cleaning</div>
        <div class="row text-center why-sandcastle-departmental-text why-sandcastle-departmental-text-third sandcastle-text-color common-font-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="row  why-sandcastle-second-row">
      <div class="col-xs-4">
        <div class="row sandcastle-text-capitalization text-center why-sandcastle-fontawesomes"><img src="assets/maintainance.png"></div>
        <div class="row sandcastle-text-capitalization text-center common-font-24">Maintenance</div>
        <div class="row text-center why-sandcastle-departmental-text sandcastle-text-color common-font-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
      <div class="col-xs-4">
        <div class="row sandcastle-text-capitalization text-center why-sandcastle-fontawesomes"><img src="assets/bill_pay.png"></div>
        <div class="row sandcastle-text-capitalization text-center common-font-24">
          Bill Pay
        </div>
        <div class="row text-center why-sandcastle-departmental-text sandcastle-text-color common-font-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
      <div class="col-xs-4">
        <div class="row sandcastle-text-capitalization text-center why-sandcastle-fontawesomes"><img src="assets/fm3_ren.png"></div>
        <div class="row sandcastle-text-capitalization text-center common-font-24">Fm3 Renewal</div>
        <div class="row text-center why-sandcastle-departmental-text why-sandcastle-departmental-text-sixth sandcastle-text-color common-font-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
  </section>

  <div class="computer-screen-slider"><img src="assets/computer_screen.png"></div>
  <div class="section-divider new-client-section-divider">
    <img src="assets/divider.png">
  </div>
  <div class="join-happy-customer-header text-center float-left full-width sandcastle-text-font-grant-hotel common-font-52">Join Our Happy Owner</div>
  <div class="sandcastle-text-capitalization text-center float-left full-width">Thousands of Happy Clients</div>
  <div class="section-divider new-client-section-divider float-left"></div>
  <div class="join-happy-customers-container">
    <div class="col-md-6 happy-customer-image-first"><img src="assets/Rocky_point_banner.jpg"></div>
    <div class="col-md-6 happy-customer-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></div>
  </div>
  <div class="join-happy-customers-container">
    <div class="col-md-6 happy-customer-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></div>
    <div class="col-md-6 happy-customer-image-second"><img src="assets/faq_original_background.jpg"></div>
  </div>
  <div class="join-happy-customers-container">
    <div class="col-md-6 happy-customer-image-third"><img src="assets/rocky-point-horseback-riders.jpg"></div>
    <div class="col-md-6 happy-customer-text"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></div>
  </div>

  <div class="full-width float-left property-list-footer-content">
        <div class="full-width float-left start-hosting-footer-button-main">
          <div class="col-sm-8 sandcastle-text-font-grant-hotel dont-wait-list-property-label">
            <span>Don't wait! List your property! </span>
            <div class="col-sm-8 start-earning-cash-label sandcastle-text-capitalization common-font-10"><span>Start earning cash today!</span></div></div>
          <div class="col-sm-4 start-hosting-button-label-name"><a href="#" class="start-hosting-button sandcastle-text-capitalization">Start Hosting <i class = "fa fa-arrow-right"></i></a></div>
        </div>
  </div>
</section>