<% content_for :header_class, 'privacy_policy_content' %>
<% content_for :mainBreadcrumbHeading, "PRIVACY POLICY".html_safe %>
<% content_for :hero_title, "OUR POLICIES".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->

<div id="my-tab-content" class="tab-content">
  <div class="tab-pane active" id="visitors-help">
    <section class="top-padding-by-5 scallop-top beige-bg privacy-policy-page-content" xmlns="http://www.w3.org/1999/html">
      <div class="layout-container about-us-content">
        <div class="about-our-facility width-for-first-about-content width-70">
          <h4 class="font-bold">ABOUT OUR FACILITY</h4>
          <p>
            Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            Ipsum Lorem IpsumLorem IpsumLorem Ipsum  IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            Ipsum Lorem IpsumLorem IpsumLorem Ipsum  IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            Ipsum Lorem IpsumLorem IpsumLorem Ipsum  IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            Ipsum Lorem IpsumLorem IpsumLorem Ipsum
          </p>
        </div>
        <div class="col-md-3 want-to-chat-container margin-left-3">
          <div class="">
            <label class="want-to-chat-header">NEED HELP?</label>
          </div>
          <div class="form-group">
            <label class="want-to-chat-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</label>
          </div>
          <div class="checkbox">
            <i class="fa fa-phone" aria-hidden="true"></i><label><a class="font-color-black" href="tel:(888) 328-8491"> (888) 328-8491</a></label>
          </div>
          <div class="checkbox">
            <i class="fa fa-envelope-o" aria-hidden="true"></i><label><a class="font-color-black" href="mailto:info@gooceano.com"> info@gooceano.com</a></label>
          </div>
        </div>
        <div class="about-our-facility width-95">
          <h4 class="font-bold">ABOUT OUR FACILITY</h4>
          <p>
            Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            Ipsum Lorem IpsumLorem IpsumLorem Ipsum  IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            Ipsum Lorem IpsumLorem IpsumLorem Ipsum  IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            Ipsum Lorem IpsumLorem IpsumLorem Ipsum  IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            Ipsum Lorem IpsumLorem IpsumLorem Ipsum
          </p>
        </div>
        <div class="about-our-facility width-95">
          <h4 class="font-bold">ABOUT OUR FACILITY</h4>
          <p>
            Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            Ipsum Lorem IpsumLorem IpsumLorem Ipsum  IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            Ipsum Lorem IpsumLorem IpsumLorem Ipsum  IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            Ipsum Lorem IpsumLorem IpsumLorem Ipsum  IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            Ipsum Lorem IpsumLorem IpsumLorem Ipsum
          </p>
        </div>
        <div class="about-our-facility width-95">
          <h4 class="font-bold">ABOUT OUR FACILITY</h4>
          <p>
            Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            Ipsum Lorem IpsumLorem IpsumLorem Ipsum  IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            Ipsum Lorem IpsumLorem IpsumLorem Ipsum  IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            Ipsum Lorem IpsumLorem IpsumLorem Ipsum  IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
            Ipsum Lorem IpsumLorem IpsumLorem Ipsum
          </p>
        </div>
      </div>

      <div class="layout-container">
      </div>
      <div class = "need-help">
        <div class="need-help-text-section">
          <h1 class = "grand-hotel">Need Help?</h1>
          <h2 class="we-are-here-text-color">WE ARE HERE</h2>
        </div>


        <div>
          <div class = "call-now">
            <i class = "fa fa-phone"></i>
            <div>CALL NOW!</div>
            <div><a href="tel:(888) 328-8491">(888) 328-8491</a></div>
          </div>

          <div class = "email-now">
            <i class = "fa fa-envelope-o"></i>
            <div>EMAIL NOW!</div>
            <div>
              <a href="mailto:INFO@SANDCASTLERENTALS.COM">
                INFO@SANDCASTLERENTALS.COM
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>