<% content_for :hero_title, "Resources".html_safe %> <!-- Hero/Page Title -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->

<section class="top-padding-by-5 scallop-top">
    <div class="layout-container">
        <div class="gw large-gutter resources-high">
            <div class="g sm-one-third">
                <h2 class="heading-medium-small up">The Essentials</h2>
                <p>Things you need before you go to Rocky Point</p>
            </div>
            <div class="g sm-one-third">
                <h2 class="heading-medium-small up">Car Insurance</h2>
                <p>Things you need before you go to Rocky Point</p>
                <p><a class="color-brown" href="https://sb.iigins.com/quote/?aff_id=3732&agtdst=DEKACF&office_code=;" target="_blank">Get Car Insurance &gt;</a></p>
            </div>
            <div class="g sm-one-third">
                <h2 class="heading-medium-small up">Tidal Forecast</h2>
                <p>When to expect high and low tide for the area.</p>
                <p><a class="color-brown" href="http://www.tide-forecast.com/locations/Puerto-Penasco-Sonora-Mexico/tides/latest" target="_blank">View Forecast &gt;</a></p>
            </div>
        </div>
    </div>
</section>

<section class="bottom-padding-by-3">
    <div class="layout-container layout-centered">
        <hr />
        <h1 class="heading-medium-small up alt color-brown">Enjoy Your Stay</h1>
      <h2 class="heading-medium-small top-spacing">i. Snorkeling and Dive Trips</h2>
      <p>I have it on good authority that the diving and snorkeling opportunities in and around Puerto Peñasco are excellent. If this is your bag, a good place to start would be at the Sun N' Fun Dive Shop. They have rental equipment available and can arrange boat charters and group trips. I understand the dive trip to Bird Island is a good one.</p>

      <h2 class="heading-medium-small top-spacing">ii. Kayak Rentals</h2>
      <p>This is kayak country! One of the most fun ways to explore the near-shore waters and estuaries is by sea kayak. A real treat is to be paddling along and have dolphins suddenly appear and go through their antics while you're practically eyeball to eyeball. Kayaks are available for rent from Jeff and Audrey in the Old Port, across from the Thrifty Ice Cream store. They don't have a website but can be reached by phone at 011-52-638-383-6209. Locally, just dial the last seven digits.</p>

      <h2 class="heading-medium-small top-spacing">iii. Boat Rides and Cruises</h2>
      <p>Another fun thing to do while you're here is go on a short cruise. Several boats offer sunset cruises, which are always fun, and some will go out for a half day or more, to places like Bird Island or just up and down the coast to see the marine sights. Dolphins are almost always around, and it's a treat to watch them play and zoom around the boat.</p>

      <h2 class="heading-medium-small top-spacing">iv. Fishing Trips and Whale Watching</h2>
      <p>And what would a visit to the Sea of Cortez be without a fishing expedition? There are numerous pongas (open boats, about 26' to 30' in length) that work out of the harbor area, and it's easy enough to get hooked up with one by cruising through the Old Port area and watching for the guy along the road making "reeling-in" motions with his hands and arms. A better bet, if you're into a little more in the way of creature comforts, would be Santiago's Ocean Services. Their main thing is fishing trips, although they also offer whale watching trips, Bird Island cruises, sunset cruises, and parasailing adventures.</p>

      <h2 class="heading-medium-small top-spacing">v. Shopping</h2>
      <p>Shopping is, of course, just about everywhere, from the ubiquitous curio shops to upscale shops and boutiques and furniture stores. A trip to the "Cholla Mall" should be requisite, and don't miss the smaller shops in the Old Port area, many of which have interesting articles and accessories from all parts of Mexico.</p>
    </div>
</section>
