<% content_for :header_class, 'faq_page_content' %>
<% content_for :hero_title, "What can we help you with?".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->
<% content_for :search_help, 'true' %> <!-- Does the header have a bottom border in the hero? -->

<ul id="tabs" class="nav nav-tabs faq-help-tabs" data-tabs="tabs">
  <li class="active"><a data-toggle="tab" href="#visitors-help">VISITOR HELP</a></li>
  <li><a href="#owners-help" data-toggle="tab">OWNER HELP</a></li>
</ul>
<div id="my-tab-content" class="tab-content">
  <div class="tab-pane active" id="visitors-help">
    <section class="top-padding-by-5 bottom-padding-by-4 scallop-top beige-bg faq-page-content-section" xmlns="http://www.w3.org/1999/html">
      <div class="layout-container">
        <div class="gw">
          <div class="panel-group accordion" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true">
                <h4 class="panel-title">
                  <a class="accordion-toggle">
                    Where do I pick up the keys?
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  You will pick up the keys from our office in Puerto Peñasco (Rocky Point). See <a href="/maps">MAPS</a> for directions.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"  data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                  <a class="accordion-toggle">
                    What are the directions to Oc&eacute;ano Rentals?
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                  <a class="accordion-toggle">
                    When is check-in and check-out?
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  Check-in 4:00 PM: Do not check in at the property unless otherwise directed to do so. Check in at the Oc&eacute;ano Rentals office on Fremont Blvd. Directions to the office are above.<br>
                  Check-out 12:00 PM: Please return the key to our office by noon (Arizona time) on your check-out day. Do not leave the key at the unit or at the Guard House. If you leave early, there is a key drop at the office.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
                  <a class="accordion-toggle">
                    What is the cancellation policy?
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                  Cancellations made thirty (30) or more days prior to scheduled arrival will be charged $50 or 20%, of the Booking Deposit whichever is more; for cancellations made twenty-nine (29) to fifteen (15) days prior to scheduled arrival, the Booking Deposit will be forfeited. If cancellation is made in less than fourteen (14) days prior to scheduled arrival, all rental monies and tax, excluding Security Deposit and cleaning fee will be forfeited. No refunds will be given for holiday time periods. Recognized holidays can be found here.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse5">
                  <a class="accordion-toggle">
                    What is the policy on pets?
                  </a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                  If a homeowner has specifically requested that renters cannot bring pets, we are obligated to respect that stipulation. Please do not request any alteration to this policy or ignore it in such a way as to risk eviction and no refund of rent or security deposit monies.

                  1.If a pet is found on a property which does not allow pets, the occupants will be evicted immediately with loss of all rental monies, cleaning fee, taxes and security deposit.
                  2.If a pet is found on a property which does allow pets, and prior arrangements have not been made with Oc&eacute;ano Rentals, the occupants will be evicted immediately with loss of all rental monies, cleaning fee, taxes and security deposit.
                  </ol>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse6">
                  <a class="accordion-toggle">
                    When is the balance due?
                  </a>
                </h4>
              </div>
              <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                  Balance of Payment Policy: The balance of the rent, tax, cleaning fee and security deposit are due thirty (30) days prior to arrival. The balance payment can be made by check by phone, credit card, check, cashier's check or money order. Please allow 5 days for mailing and send payments to Oc&eacute;ano Rentals, P.O. Box 2357, Litchfield Park, AZ 85340, or payments may be made directly to Oc&eacute;ano Account #7372-03117 at any Chase/Bank One in the United States. Please fax a copy of the receipt with your name and reservation number to (928) 569-0051. Checks drawn from financial institutions outside the State of Arizona will not be accepted. Reservations will not be held if the booking deposit or balance payments are not received by the respective due dates. A late fee of $10 will be charged for balances paid after the due date. Returned checks will be charged a minimum of $25 fee.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse7">
                  <a class="accordion-toggle">
                    Does Oc&eacute;ano accept personal checks?
                  </a>
                </h4>
              </div>
              <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                  Yes, Oc&eacute;ano accepts Checks by Phone or you can send a personal checks provided that the following criteria are met:

                  1.The check is drawn from a bank in the State of Arizona.
                  2.The check is received by the due date or 30 days prior to arrival, whichever is more.
                  </ol>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse8">
                  <a class="accordion-toggle">
                    Does Oc&eacute;ano accept credit cards?
                  </a>
                </h4>
              </div>
              <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                  Oc&eacute;ano does accept Visa and MasterCard for payments. The transaction will be in U.S. Dollars.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse9">
                  <a class="accordion-toggle">
                    When will my deposit be returned?
                  </a>
                </h4>
              </div>
              <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                  Security deposits will be returned in about two weeks.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse10">
                  <a class="accordion-toggle">
                    What is I.V.A.?
                  </a>
                </h4>
              </div>
              <div id="collapse10" class="panel-collapse collapse">
                <div class="panel-body">
                  I.V.A. is a Mexican national sales tax. The tax rate in this region of Mexico is 12%.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse11">
                  <a class="accordion-toggle">
                    Can I bring ATVs, dune buggies, dirt bikes, rails or wave runners?
                  </a>
                </h4>
              </div>
              <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">
                  The above are not allowed in Las Conchas and the rules for Las Conchas are below.<br>
                  Important Las Conchas Notice: The Las Conchas Homeowners' Association Rules and our homeowners prohibit renters from bringing in ATVs, dune buggies, dirt bikes, rails or wave runners into the Las Conchas community. Violators, who do so, risk impoundment of the vehicle(s) and prosecution by the local police. These vehicles brought in by renters or visitors, with or without Las Conchas stickers, will be refused entry at the Guard Gate. Violators who bypass the Guard Gate do so at the risk of impoundment of the vehicle(s) and prosecution by the local police. The Association and the city of Puerto Peñasco enacted this ordinance to preserve the desert environment which was rapidly being destroyed by off road vehicles. At no time are any of these vehicles to be ridden on the beach side of Las Conchas (with the exception of the Las Conchas Guards patrolling the area and enforcing the rules).
                </div>
              </div>
            </div>
          </div>



          <!--<article>-->
          <!--<p class="sans"><strong>Are fireworks allowed?</strong></p>-->

          <!--<p>No! Fireworks are illegal in Mexico and not allowed in any of our properties. You are subject to eviction if you use fireworks.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>What are the office hours?</strong></p>-->

          <!--<p>Oc&eacute;ano Rentals is open everyday from 10:00 AM-5:00 PM and until 7:00 PM on Fridays.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>Should I bring drinking water?</strong></p>-->

          <!--<p>We recommend that you either purchase bottled water here in Puerto Peñasco or bring it with you. The bottled water here in Puerto Peñasco has been processed by reverse osmosis (RO). We do not recommend that you drink the water from the faucets.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>Do I need to bring linens or towels?</strong></p>-->

          <!--<p>You do not need to bring any bed linens or bath towels. Oc&eacute;ano provides bed linens and bath towels for all of our properties. We do ask that you bring your own beach towels and that you do not take the bath towels to the beach.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>Do I need to bring beach towels or chairs?</strong></p>-->

          <!--<p>Yes. Please bring your own beach towels and chairs for the beach. These items are not provided. Please do not take the towels provided for bathing nor the patio furniture to the beach.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>What do I need to cross the border?</strong></p>-->

          <!--<p>When you cross the border, make sure that you have identification for all passengers and registration for your vehicles.</p>-->
          <!--<p>Do not bring rifles, pistols, or ammunition of any kind across the border!</p>-->
          <!--</article>-->
          <!--</div>-->
          <!--<div class="g sm-one-half">-->
          <!--<article>-->
          <!--<p class="sans"><strong>Do I need special car insurance to drive in Mexico?</strong></p>-->

          <!--<p>Yes you do. It is very important that each car that crosses into Mexico has proper coverage. Mexican Law is very strict regarding uninsured motorists that get into an accident. To make it as simple as possible for our customers, you can purchase your car insurance online by <a href="http://web2web.mexicoinsuranceonline.com/index.cgi?agentcode=DEKACF" target="_blank">clicking here</a>.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>When is the border open?</strong></p>-->

          <!--<p>The border is open daily from 6:00 AM to 12:00 AM midnight.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>Can I use my cellular phone in Rocky Point?</strong></p>-->

          <!--<p>Rocky Point does have cellular phone technology. Rocky Point has TDMA - digital, CDMA - digital, and analog cellular technologies. Be sure to call your cellular phone provider prior to crossing the border for any specific instructions on using your phone in Mexico.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>How do I use my calling card in Mexico?</strong></p>-->

          <!--<p>We recommend that you make contact with your calling card company prior to your vacation to learn the specifics. We have found most of the information for using calling cards on the websites of the respective companies.</p>-->
          <!--<ul>-->
          <!--<li>MCI - <a href="http://consumer.mci.com/international/english/resources/accessnos.jsp" target="_blank">Check the complete list of WorldPhone toll-free access numbers</a></li>-->
          <!--<li>AT&amp;T - <a href="http://www.business.att.com/default/?pageid=bt_dialing_instr&branchid=bt" target="_blank">AT&amp;T Travel Guide</a></li>-->
          <!--</ul>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>Can I drive a rental car to Mexico?</strong></p>-->

          <!--<p>There are several car rental agencies that will allow their vehicles into Mexico. In most cases, the agency will require that you purchase their insurance. Below is a list of car rental agencies and links to their websites.</p>-->
          <!--<ul>-->
          <!--<li>Avis - <a href="http://www.avis.com" target="_blank">www.avis.com</a></li>-->
          <!--<li>Dollar - <a href="http://www.dollar.com" target="_blank">www.dollar.com</a></li>-->
          <!--<li>Enterprise - <a href="http://www.enterprise.com" target="_blank">www.enterprise.com</a></li>-->
          <!--<li>Hertz - <a href="http://www.hertz.com" target="_blank">www.hertz.com</a></li>-->
          <!--<li>Thrifty Car Rental - <a href="http://www.thrifty.com" target="_blank">www.thrifty.com</a></li>-->
          <!--</ul>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>Peace of mind damage waiver.</strong></p>-->

          <!--<p>Why worry that someone in your party might accidentally break something? Relax and enjoy your stay. If an accident happens, report the details and leave the rest to us. Guest is required to pay a nonrefundable “Peace of Mind Damage Waiver Fee" to cover any unintentional damage to the property, up to ten times said Fee. Damage in excess of this amount or damage that is deemed by Oc&eacute;ano Rentals to be of an intentional nature will be charged to Guest's credit card. The damage waiver DOES NOT cover intentional damage, theft, additional cleaning, or pet damage. Guests will report incidents causing damage to the property immediately to our office or call (888) 328 8491 (From the U.S.), (638) 383 0800 (From Mexico).</p>-->
          <!--<p>The Staff of Oc&eacute;ano Rentals will determine all necessary repairs. Report all damages to Oc&eacute;ano rentals by the day of check-out.</p>-->
          <!--<p>All guests staying in the property (not to exceed maximum occupancy) will be covered by this waiver and will not be obligated to pay for accidental loss or damage to the rental unit or its contents.</p>-->
          <!--<p>The Accidental Damage Waiver does not include:</p>-->
          <!--<ol>-->
          <!--<li>Intentional acts, gross negligence or willful conduct</li>-->
          <!--<li>Evidence of and/or damage caused by pets (pets are prohibited in rental properties)</li>-->
          <!--<li>Damage done by unauthorized groups</li>-->
          <!--<li>Loss or damage to guest's personal property or rental equipment brought onto the premises</li>-->
          <!--<li>Normal wear and tear</li>-->
          <!--<li>Damage to electric vehicles (golf carts)</li>-->
          <!--<li>Any damage caused by a violation of Oc&eacute;ano Rentals' Rules &amp; Regulations or in an action that violates local, state or federal laws</li>-->
          <!--<li>Acts of nature</li>-->
          <!--</ol>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>What documents are required to return to the U.S. after visiting Puerto Peñasco (Rocky Point)?</strong></p>-->

          <!--<p>Effective January 31, 2008 United States and Canadian citizens 19 years of age and older, returning by land from Mexico will be required to show a government issued I.D. (drivers license) and a copy of their birth certificate. Children 18 and under must present a copy of their birth certificate. This is an interim change that will be in effect until June 2009 when all U.S. citizens will be required to present a valid U.S. Passport for re-entry into the U.S. For more detail on this and other foreign travel related information <a href="http://www.cbp.gov/travel/us-citizens/whti-program-background/docs-land-sea" target="_blank">click here</a>.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>What are the best times to return from Puerto Peñasco to avoid long delays at the border check point?</strong></p>-->

          <!--<p>Generally weekday traffic returning to Arizona is light to moderate with delays less than 15-20 minutes. Weekend return traffic Sunday (also Monday on 3 day weekends) can be moderate to heavy during peak hours (9:00 AM-5:00 PM) with delays occasionally well over an hour. Traffic wait time estimates are posted and updated hourly <a href="http://bwt.cbp.gov" target="_blank">on the internet</a>. Our clients have reported that these wait time estimates have been accurate.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>Where can I get accurate information on the process for getting a U.S. Passport?</strong></p>-->

          <!--<p>Passport information and application forms are available <a href="http://www.travel.state.gov/passport/forms/forms_847.html" target="_blank">online</a>.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>What are the general restrictions on specials?</strong></p>-->

          <!--<ul>-->
          <!--<li>"Specials" do not apply to existing reservations and must be mentioned when making the reservation.</li>-->
          <!--<li>For online reservations, send us an email after booking asking us for the discount.</li>-->
          <!--<li>"Specials" do not apply for holiday time periods unless specifically stated.</li>-->
          <!--<li>The "Specials" can not be combined with any other offer, package, 'Special' or weekly rates.</li>-->
          <!--<li>"Specials" are subject to change and interpretation of the "Specials" are at the discretion of Oc&eacute;ano.</li>-->
          <!--</ul>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>What is the cancellation policy on specials?</strong></p>-->

          <!--<p>For cancellations made two (2) or more weeks prior to scheduled arrival, the security deposit will be forfeited; for cancellations made less than thirteen (13) days prior to scheduled arrival, all rental monies (excluding the cleaning fee) or the Security Deposit will be forfeited, whichever is more. No refunds will be given for holiday time periods.</p>-->
          <!--<p>Townhomes for rent are even sweeter when found at a bargain price. Check out the deals we have on Mexico's beach front property that you can rent for your vacation. Maybe there's a deal on that Mexico beach vacation rental you've had your eye on for a long time. It always pays to watch for what specials we have going on. Get a few dollars off your Rocky Point vacation rental and spend what you saved on something exciting like your first scuba diving excursion. Mexico's Rocky Point has long been a spring break haven, but keep in mind there are other times of the year when a vacation rental in Puerto Pe&ntilde;asco can be found for a little less.</p>-->
          <!--</article>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </div>
      <div class="section-divider need-more-help-divider">
        <div class="need-more-help-div">NEED MORE HELP?</div>
      </div>
      <div class="section-divider">
        <img src="assets/divider.png" />
      </div>
      <div class="layout-container">
        <div class="col-sm-8"><form method="post" action="/faq/review" class="faq-review-feedback">
          <%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
          <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="NAME" name="name">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" id="phonenumber" name="phonenumber" placeholder="PHONE NUMBER">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="E-MAIL-ADDRESS">
          </div>
          <div class="form-group">
            <textarea rows="4" class="form-control" id="review" name="message" placeholder="REVIEW"></textarea>
          </div>
          <br>
          <button type="submit" class="btn btn-primary review-submit"></button>
        </form></div>
        <div class="col-md-4 want-to-chat-container">
          <div class="form-group">
            <label class="want-to-chat-header">WANT TO CHAT?</label>
          </div>
          <div class="form-group">
            <label class="want-to-chat-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</label>
          </div>
          <div class="checkbox">
            <i class="fa fa-phone" aria-hidden="true"></i><label> (888) 328-841</label>
          </div>
          <div class="checkbox">
            <i class="fa fa-envelope-o" aria-hidden="true"></i><label> info@gooceano.com</label>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="tab-pane" id="owners-help">
    <section class="top-padding-by-5 bottom-padding-by-4 scallop-top beige-bg faq-page-content-section" xmlns="http://www.w3.org/1999/html">
      <div class="layout-container">
        <div class="gw">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                <h4 class="panel-title">
                  <a class="accordion-toggle">
                    Where do I pick up the keys?
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  You will pick up the keys from our office in Puerto Peñasco (Rocky Point). See <a href="/maps">MAPS</a> for directions.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"  data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                  <a class="accordion-toggle">
                    What are the directions to Oc&eacute;ano Rentals?
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                  <a class="accordion-toggle">
                    When is check-in and check-out?
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  Check-in 4:00 PM: Do not check in at the property unless otherwise directed to do so. Check in at the Oc&eacute;ano Rentals office on Fremont Blvd. Directions to the office are above.<br>
                  Check-out 12:00 PM: Please return the key to our office by noon (Arizona time) on your check-out day. Do not leave the key at the unit or at the Guard House. If you leave early, there is a key drop at the office.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
                  <a class="accordion-toggle">
                    What is the cancellation policy?
                  </a>
                </h4>
              </div>
              <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                  Cancellations made thirty (30) or more days prior to scheduled arrival will be charged $50 or 20%, of the Booking Deposit whichever is more; for cancellations made twenty-nine (29) to fifteen (15) days prior to scheduled arrival, the Booking Deposit will be forfeited. If cancellation is made in less than fourteen (14) days prior to scheduled arrival, all rental monies and tax, excluding Security Deposit and cleaning fee will be forfeited. No refunds will be given for holiday time periods. Recognized holidays can be found here.
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse5">
                  <a class="accordion-toggle">
                    What is the policy on pets?
                  </a>
                </h4>
              </div>
              <div id="collapse5" class="panel-collapse collapse">
                <div class="panel-body">
                  If a homeowner has specifically requested that renters cannot bring pets, we are obligated to respect that stipulation. Please do not request any alteration to this policy or ignore it in such a way as to risk eviction and no refund of rent or security deposit monies.

                  1.If a pet is found on a property which does not allow pets, the occupants will be evicted immediately with loss of all rental monies, cleaning fee, taxes and security deposit.
                  2.If a pet is found on a property which does allow pets, and prior arrangements have not been made with Oc&eacute;ano Rentals, the occupants will be evicted immediately with loss of all rental monies, cleaning fee, taxes and security deposit.

                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse6">
                  <a class="accordion-toggle">
                    When is the balance due?
                  </a>
                </h4>
              </div>
              <div id="collapse6" class="panel-collapse collapse">
                <div class="panel-body">
                  Balance of Payment Policy: The balance of the rent, tax, cleaning fee and security deposit are due thirty (30) days prior to arrival. The balance payment can be made by check by phone, credit card, check, cashier's check or money order. Please allow 5 days for mailing and send payments to Oc&eacute;ano Rentals, P.O. Box 2357, Litchfield Park, AZ 85340, or payments may be made directly to Oc&eacute;ano Account #7372-03117 at any Chase/Bank One in the United States. Please fax a copy of the receipt with your name and reservation number to (928) 569-0051. Checks drawn from financial institutions outside the State of Arizona will not be accepted. Reservations will not be held if the booking deposit or balance payments are not received by the respective due dates. A late fee of $10 will be charged for balances paid after the due date. Returned checks will be charged a minimum of $25 fee.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse7">
                  <a class="accordion-toggle">
                    Does Oc&eacute;ano accept personal checks?
                  </a>
                </h4>
              </div>
              <div id="collapse7" class="panel-collapse collapse">
                <div class="panel-body">
                  Yes, Oc&eacute;ano accepts Checks by Phone or you can send a personal checks provided that the following criteria are met:

                  1.The check is drawn from a bank in the State of Arizona.
                  2.The check is received by the due date or 30 days prior to arrival, whichever is more.

                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse8">
                  <a class="accordion-toggle">
                    Does Oc&eacute;ano accept credit cards?
                  </a>
                </h4>
              </div>
              <div id="collapse8" class="panel-collapse collapse">
                <div class="panel-body">
                  Oc&eacute;ano does accept Visa and MasterCard for payments. The transaction will be in U.S. Dollars.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse9">
                  <a class="accordion-toggle">
                    When will my deposit be returned?
                  </a>
                </h4>
              </div>
              <div id="collapse9" class="panel-collapse collapse">
                <div class="panel-body">
                  Security deposits will be returned in about two weeks.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse10">
                  <a class="accordion-toggle">
                    What is I.V.A.?
                  </a>
                </h4>
              </div>
              <div id="collapse10" class="panel-collapse collapse">
                <div class="panel-body">
                  I.V.A. is a Mexican national sales tax. The tax rate in this region of Mexico is 12%.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse11">
                  <a class="accordion-toggle">
                    Can I bring ATVs, dune buggies, dirt bikes, rails or wave runners?
                  </a>
                </h4>
              </div>
              <div id="collapse11" class="panel-collapse collapse">
                <div class="panel-body">
                  The above are not allowed in Las Conchas and the rules for Las Conchas are below.<br>
                  Important Las Conchas Notice: The Las Conchas Homeowners' Association Rules and our homeowners prohibit renters from bringing in ATVs, dune buggies, dirt bikes, rails or wave runners into the Las Conchas community. Violators, who do so, risk impoundment of the vehicle(s) and prosecution by the local police. These vehicles brought in by renters or visitors, with or without Las Conchas stickers, will be refused entry at the Guard Gate. Violators who bypass the Guard Gate do so at the risk of impoundment of the vehicle(s) and prosecution by the local police. The Association and the city of Puerto Peñasco enacted this ordinance to preserve the desert environment which was rapidly being destroyed by off road vehicles. At no time are any of these vehicles to be ridden on the beach side of Las Conchas (with the exception of the Las Conchas Guards patrolling the area and enforcing the rules).
                </div>
              </div>
            </div>
          </div>



          <!--<article>-->
          <!--<p class="sans"><strong>Are fireworks allowed?</strong></p>-->

          <!--<p>No! Fireworks are illegal in Mexico and not allowed in any of our properties. You are subject to eviction if you use fireworks.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>What are the office hours?</strong></p>-->

          <!--<p>Oc&eacute;ano Rentals is open everyday from 10:00 AM-5:00 PM and until 7:00 PM on Fridays.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>Should I bring drinking water?</strong></p>-->

          <!--<p>We recommend that you either purchase bottled water here in Puerto Peñasco or bring it with you. The bottled water here in Puerto Peñasco has been processed by reverse osmosis (RO). We do not recommend that you drink the water from the faucets.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>Do I need to bring linens or towels?</strong></p>-->

          <!--<p>You do not need to bring any bed linens or bath towels. Oc&eacute;ano provides bed linens and bath towels for all of our properties. We do ask that you bring your own beach towels and that you do not take the bath towels to the beach.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>Do I need to bring beach towels or chairs?</strong></p>-->

          <!--<p>Yes. Please bring your own beach towels and chairs for the beach. These items are not provided. Please do not take the towels provided for bathing nor the patio furniture to the beach.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>What do I need to cross the border?</strong></p>-->

          <!--<p>When you cross the border, make sure that you have identification for all passengers and registration for your vehicles.</p>-->
          <!--<p>Do not bring rifles, pistols, or ammunition of any kind across the border!</p>-->
          <!--</article>-->
          <!--</div>-->
          <!--<div class="g sm-one-half">-->
          <!--<article>-->
          <!--<p class="sans"><strong>Do I need special car insurance to drive in Mexico?</strong></p>-->

          <!--<p>Yes you do. It is very important that each car that crosses into Mexico has proper coverage. Mexican Law is very strict regarding uninsured motorists that get into an accident. To make it as simple as possible for our customers, you can purchase your car insurance online by <a href="http://web2web.mexicoinsuranceonline.com/index.cgi?agentcode=DEKACF" target="_blank">clicking here</a>.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>When is the border open?</strong></p>-->

          <!--<p>The border is open daily from 6:00 AM to 12:00 AM midnight.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>Can I use my cellular phone in Rocky Point?</strong></p>-->

          <!--<p>Rocky Point does have cellular phone technology. Rocky Point has TDMA - digital, CDMA - digital, and analog cellular technologies. Be sure to call your cellular phone provider prior to crossing the border for any specific instructions on using your phone in Mexico.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>How do I use my calling card in Mexico?</strong></p>-->

          <!--<p>We recommend that you make contact with your calling card company prior to your vacation to learn the specifics. We have found most of the information for using calling cards on the websites of the respective companies.</p>-->
          <!--<ul>-->
          <!--<li>MCI - <a href="http://consumer.mci.com/international/english/resources/accessnos.jsp" target="_blank">Check the complete list of WorldPhone toll-free access numbers</a></li>-->
          <!--<li>AT&amp;T - <a href="http://www.business.att.com/default/?pageid=bt_dialing_instr&branchid=bt" target="_blank">AT&amp;T Travel Guide</a></li>-->
          <!--</ul>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>Can I drive a rental car to Mexico?</strong></p>-->

          <!--<p>There are several car rental agencies that will allow their vehicles into Mexico. In most cases, the agency will require that you purchase their insurance. Below is a list of car rental agencies and links to their websites.</p>-->
          <!--<ul>-->
          <!--<li>Avis - <a href="http://www.avis.com" target="_blank">www.avis.com</a></li>-->
          <!--<li>Dollar - <a href="http://www.dollar.com" target="_blank">www.dollar.com</a></li>-->
          <!--<li>Enterprise - <a href="http://www.enterprise.com" target="_blank">www.enterprise.com</a></li>-->
          <!--<li>Hertz - <a href="http://www.hertz.com" target="_blank">www.hertz.com</a></li>-->
          <!--<li>Thrifty Car Rental - <a href="http://www.thrifty.com" target="_blank">www.thrifty.com</a></li>-->
          <!--</ul>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>Peace of mind damage waiver.</strong></p>-->

          <!--<p>Why worry that someone in your party might accidentally break something? Relax and enjoy your stay. If an accident happens, report the details and leave the rest to us. Guest is required to pay a nonrefundable “Peace of Mind Damage Waiver Fee" to cover any unintentional damage to the property, up to ten times said Fee. Damage in excess of this amount or damage that is deemed by Oc&eacute;ano Rentals to be of an intentional nature will be charged to Guest's credit card. The damage waiver DOES NOT cover intentional damage, theft, additional cleaning, or pet damage. Guests will report incidents causing damage to the property immediately to our office or call (888) 328 8491 (From the U.S.), (638) 383 0800 (From Mexico).</p>-->
          <!--<p>The Staff of Oc&eacute;ano Rentals will determine all necessary repairs. Report all damages to Oc&eacute;ano rentals by the day of check-out.</p>-->
          <!--<p>All guests staying in the property (not to exceed maximum occupancy) will be covered by this waiver and will not be obligated to pay for accidental loss or damage to the rental unit or its contents.</p>-->
          <!--<p>The Accidental Damage Waiver does not include:</p>-->
          <!--<ol>-->
          <!--<li>Intentional acts, gross negligence or willful conduct</li>-->
          <!--<li>Evidence of and/or damage caused by pets (pets are prohibited in rental properties)</li>-->
          <!--<li>Damage done by unauthorized groups</li>-->
          <!--<li>Loss or damage to guest's personal property or rental equipment brought onto the premises</li>-->
          <!--<li>Normal wear and tear</li>-->
          <!--<li>Damage to electric vehicles (golf carts)</li>-->
          <!--<li>Any damage caused by a violation of Oc&eacute;ano Rentals' Rules &amp; Regulations or in an action that violates local, state or federal laws</li>-->
          <!--<li>Acts of nature</li>-->
          <!--</ol>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>What documents are required to return to the U.S. after visiting Puerto Peñasco (Rocky Point)?</strong></p>-->

          <!--<p>Effective January 31, 2008 United States and Canadian citizens 19 years of age and older, returning by land from Mexico will be required to show a government issued I.D. (drivers license) and a copy of their birth certificate. Children 18 and under must present a copy of their birth certificate. This is an interim change that will be in effect until June 2009 when all U.S. citizens will be required to present a valid U.S. Passport for re-entry into the U.S. For more detail on this and other foreign travel related information <a href="http://www.cbp.gov/travel/us-citizens/whti-program-background/docs-land-sea" target="_blank">click here</a>.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>What are the best times to return from Puerto Peñasco to avoid long delays at the border check point?</strong></p>-->

          <!--<p>Generally weekday traffic returning to Arizona is light to moderate with delays less than 15-20 minutes. Weekend return traffic Sunday (also Monday on 3 day weekends) can be moderate to heavy during peak hours (9:00 AM-5:00 PM) with delays occasionally well over an hour. Traffic wait time estimates are posted and updated hourly <a href="http://bwt.cbp.gov" target="_blank">on the internet</a>. Our clients have reported that these wait time estimates have been accurate.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>Where can I get accurate information on the process for getting a U.S. Passport?</strong></p>-->

          <!--<p>Passport information and application forms are available <a href="http://www.travel.state.gov/passport/forms/forms_847.html" target="_blank">online</a>.</p>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>What are the general restrictions on specials?</strong></p>-->

          <!--<ul>-->
          <!--<li>"Specials" do not apply to existing reservations and must be mentioned when making the reservation.</li>-->
          <!--<li>For online reservations, send us an email after booking asking us for the discount.</li>-->
          <!--<li>"Specials" do not apply for holiday time periods unless specifically stated.</li>-->
          <!--<li>The "Specials" can not be combined with any other offer, package, 'Special' or weekly rates.</li>-->
          <!--<li>"Specials" are subject to change and interpretation of the "Specials" are at the discretion of Oc&eacute;ano.</li>-->
          <!--</ul>-->
          <!--</article>-->
          <!--<article>-->
          <!--<p class="sans"><strong>What is the cancellation policy on specials?</strong></p>-->

          <!--<p>For cancellations made two (2) or more weeks prior to scheduled arrival, the security deposit will be forfeited; for cancellations made less than thirteen (13) days prior to scheduled arrival, all rental monies (excluding the cleaning fee) or the Security Deposit will be forfeited, whichever is more. No refunds will be given for holiday time periods.</p>-->
          <!--<p>Townhomes for rent are even sweeter when found at a bargain price. Check out the deals we have on Mexico's beach front property that you can rent for your vacation. Maybe there's a deal on that Mexico beach vacation rental you've had your eye on for a long time. It always pays to watch for what specials we have going on. Get a few dollars off your Rocky Point vacation rental and spend what you saved on something exciting like your first scuba diving excursion. Mexico's Rocky Point has long been a spring break haven, but keep in mind there are other times of the year when a vacation rental in Puerto Pe&ntilde;asco can be found for a little less.</p>-->
          <!--</article>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </div>
      <div class="section-divider need-more-help-divider">
        <div class="need-more-help-div">NEED MORE HELP?</div>
      </div>
      <div class="section-divider">
        <img src="assets/divider.png" />
      </div>
      <div class="layout-container">
        <div class="col-sm-8"><form>
          <div class="form-group">
            <input type="text" class="form-control" id="name" placeholder="NAME">
          </div>
          <div class="form-group">
            <input type="number" class="form-control" id="phonenumber" placeholder="PHONE NUMBER">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="E-MAIL-ADDRESS">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="review" placeholder="REVIEW">
          </div>
          <button type="submit" class="btn btn-primary review-submit"></button>
        </form></div>
        <div class="col-md-4 want-to-chat-container">
          <div class="form-group">
            <label class="want-to-chat-header">WANT TO CHAT?</label>
          </div>
          <div class="form-group">
            <label class="want-to-chat-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</label>
          </div>
          <div class="checkbox">
            <i class="fa fa-phone" aria-hidden="true"></i><label> (888) 328-841</label>
          </div>
          <div class="checkbox">
            <i class="fa fa-envelope-o" aria-hidden="true"></i><label> info@gooceano.com</label>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>