<% content_for :header_class, 'room_details_page_content' %>
<% content_for :hero_title, "CASITA DE PAZ".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->
<% content_for :below_hero_title, "LAS CONCHAS".html_safe %>

<section id="room_details_main_section" class="scallop-top beige-bg room-details-page-content-section" xmlns="http://www.w3.org/1999/html">
  <div class="layout-container">
    <div class="col-sm-12">
      <div class="col-sm-10 hotel-price-room-people-details-main">
        <div class="col-sm-4 hotel-price-room-people-details common-font-27">$120</div>
        <div class="col-sm-8 hotel-rating-beds-people-main"><div class="col-sm-6"><div class="roomdetails-page-user-rating">
          <div class="float-right hotel-total-rating-count">4.0</div><div class="triangle4 float-right"></div>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-white"></i>
        </div>
        </div>
          <div class="col-sm-2">

            <span class="fa-stack fa-3x room-details-fontawesome-common">
              <i class="fa fa-bed fa-stack-2x"></i>
              <span class="fa-stack-1x room-number">1</span>
            </span>
          </div>
          <div class="col-sm-2">
            <span class="fa-stack fa-3x room-details-fontawesome-common">
              <i class="fa fa-group fa-stack-2x"></i>
              <span class="fa-stack-1x room-number">2</span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-2 booking-button-main common-font-14 sandcastle-text-capitalization sandcastle-bold text-center">Book Now <i class="fa fa-arrow-right" aria-hidden="true"></i></div>
      <div class="col-sm-12">
        <div class="col-sm-9 room-details-about-main"><div class="common-font-20 sandcastle-bold sandcastle-text-capitalization room-details-common-div">About Casita De Paz</div>
          <div class="sandcastle-text-color common-font-11">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div></div>
        <div class="col-md-3 want-to-chat-container">
          <div class="form-group">
            <label class="want-to-chat-header">NEED HELP?</label>
          </div>
          <div class="form-group">
            <label class="want-to-chat-text common-font-9">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</label>
          </div>
          <div class="checkbox">
            <i class="fa fa-phone" aria-hidden="true"></i><label><a class="font-color-black" href="tel:(888) 328-8491"> (888) 328-8491</a></label>
          </div>
          <div class="checkbox">
            <i class="fa fa-envelope-o" aria-hidden="true"></i><label><a class="font-color-black" href="mailto:info@gooceano.com">  info@gooceano.com</a></label>
          </div>
        </div>
        <div class="room-details-feature-section-main float-left full-width">
          <div class="booking-receipt-headings sandcastle-text-capitalization sandcastle-bold common-font-20">Features</div>
          <div class="row">
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization sandcastle-text-color">Two beds</div></div>
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization sandcastle-text-color">Beach</div></div>
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization sandcastle-text-color">Internet Access</div></div>
          </div>
          <div class="row">
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization sandcastle-text-color">Two baths</div></div>
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization sandcastle-text-color">Kitchen</div></div>
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization sandcastle-text-color">Beach Access</div></div>
          </div>
          <div class="row">
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization sandcastle-text-color">Entire House</div></div>
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization sandcastle-text-color">Television</div></div>
            <div class="feature-section-column-main float-left"><div class="feature-section-column-small float-left"><i class="fa fa-question-circle" aria-hidden="true"></i></div><div class="feature-section-column-large float-left sandcastle-text-capitalization sandcastle-text-color">Air Conditioning</div></div>
          </div>
        </div>
        <div class="receipt-booking-details-section float-left full-width">
          <div class="feature-list-headings sandcastle-text-capitalization sandcastle-bold common-font-20">Gallery</div>
          <div class="our-facility-room-section float-left">
            <div class="float-left">
              <div class="float-left padding-left-bottom-2-px"><img src="assets/feature_room_6.png"></div>
              <div class="float-left padding-left-bottom-2-px"><img src="assets/feature_room_4.png"></div>
              <div class="float-left padding-left-bottom-2-px"><img src="assets/feature_room_1.png"></div>
              <div class="float-left">
                <div class="float-left"><img src="assets/feature_room_5.png"></div>
              </div>
            </div>
            <div class="float-left">
              <div class="float-left padding-left-bottom-2-px"><img src="assets/feature_room_2.png"></div>
              <div class="float-left"><img src="assets/feature_room_3.png"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="first-section-divider"></div>

  <div class="room-details-map-section">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMeOtBKPOmvtkmNo6TOxxxbOh_KtaCdiA"></script><div style="overflow:hidden;height:300px;width:100%;"><div id="gmap_canvas" style="height:300px;width:100%;"><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:8,center:new google.maps.LatLng(31.3268218,-113.5311843),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(31.3268218, -113.5311843)});infowindow = new google.maps.InfoWindow({content:"<b>SandCastle</b><br/>Puerto Pe&ntilde;asco Sonora, Mexico<br/> " });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
  </div>
  <div class="section-divider room-details-section-divider">
  </div>
  <div class="text-center room-details-map-section sandcastle-bold sandcastle-text-capitalization common-font-18">
    Customer Review
  </div>

<div class="section-divider room-details-section-divider">
  <img src="assets/divider.png" />
</div>

  <div class="layout-container">
  <div class="customer-review-section-main">
    <div class="customer-review-section-upper float-left">
      <div class="room-details-reviewer-avatar float-left"> <img src="assets/reviewer_1.png"></div>
      <div class="room-details-reviewer-name sandcastle-text-capitalization float-left sandcastle-bold">Jaime Martin</div>
      <div class="room-details-reviewer-date float-left sandcastle-text-color">May 17th, 2016</div>
      <div class="room-details-reviewer-rating float-left">
        <div class="roomdetails-page-reviewer-rating">
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o star-color-yello"></i>
          <i class="fa fa-star-o sandcastle-text-color"></i>
        </div>
      </div>
    </div>
    <div class="room-details-reviewer-comments float-left sandcastle-text-color">"The house was amazing. We had such a great time. Love being able to wake up and walk right out to the beach"</div>
  </div>
    </div>
  <div class="section-divider customer-review-divider">
    <span></span>
  </div>
  <div class="layout-container">
    <div class="customer-review-section-main">
      <div class="customer-review-section-upper float-left">
        <div class="room-details-reviewer-avatar float-left"> <img src="assets/reviewer_2.png"></div>
        <div class="room-details-reviewer-name sandcastle-text-capitalization float-left sandcastle-bold">jane Smith</div>
        <div class="room-details-reviewer-date float-left sandcastle-text-color">August 28th, 2016</div>
        <div class="room-details-reviewer-rating float-left">
          <div class="roomdetails-page-reviewer-rating">
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
            <i class="fa fa-star-o star-color-yello"></i>
          </div>
        </div>
      </div>
      <div class="room-details-reviewer-comments float-left sandcastle-text-color">"Great location, had a very relaxing visit"</div>
    </div>
  </div>
  <div class="section-divider room-details-section-divider">
  </div>
  <div class="text-center room-details-map-section sandcastle-bold sandcastle-text-capitalization common-font-18">
    Post a Review
  </div>

  <div class="section-divider room-details-section-divider">
    <img src="assets/divider.png" />
  </div>
  <div class="layout-container room-details-post-review-main">
  <form class="room-details-post-review">
    <%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
    <div class="row">
      <div class="col-sm-4"><input type="text" name="firstname" class="firstname text-box-height input-appear" placeholder = "FIRST NAME"></div>
      <div class="col-sm-4"><input type="text" name="lastname" class="firstname text-box-height input-appear" placeholder = "LAST NAME"></div>
      <div class="col-sm-4"><input type="text" name="emailId" class="email text-box-height input-appear" placeholder = "E-MAIL ADDRESS"><p class="error invalid-email">Please enter a valid email address.</p></div>
    </div>
    <div class="your-rating-label sandcastle-text-capitalization sandcastle-text-color sandcastle-text-font-montserrat">Your Rating</div>
    <div class="row all-rating-content">
      <div class="col-sm-2"><div class="roomdetails-page-reviewer-rating">
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
      </div></div>
      <div class="col-sm-2"><div class="roomdetails-page-reviewer-rating">
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
      </div></div>
      <div class="col-sm-2"><div class="roomdetails-page-reviewer-rating">
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
      </div></div>
      <div class="col-sm-2"><div class="roomdetails-page-reviewer-rating">
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o sandcastle-text-color"></i>
      </div></div>
      <div class="col-sm-2"><div class="roomdetails-page-reviewer-rating">
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
        <i class="fa fa-star-o star-color-yello"></i>
      </div></div>
    </div>

    <div class="row">
      <textarea class="special-requests input-appear padding-top-15-px" rows="2" name="message" placeholder = "REVIEW" ></textarea>
    </div>
    <button type = "submit" class="btn btn-info btn-lg btn--blue sandcastle-text-font-montserrat common-font-18">POST REVIEW &nbsp<i class = "fa fa-arrow-right"></i></button>
  </form>
    </div>
  <div class="section-divider room-details-section-divider">
  </div>

  <div class="hotel-list-slider-main sandcastle-text-font-montserrat">
    <div class="col-sm-3 slide">
      <div class="hotel-image"><img src="assets/about_us_slider_bg_img.png"></div>
      <div class="hotel-details-except-image float-left">
        <div class="hotel-rate float-left room-details-common-div sandcastle-text-capitalization sandcastle-text-color">FROM <span class="sandcastle-bold hotel-price-value">$120</span></div>
        <div class="hotel-rating-review float-left full-width"><div class="col-sm-6"><div class="roomdetails-page-reviewer-rating">
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
        </div></div><div class="col-sm-6 float-left sandcastle-text-color">485 Reviews</div></div>
        <div class="hotel-about-section float-left room-details-common-div full-width">
          <div class="col-sm-12 sandcastle-bold sandcastle-text-capitalization common-font-15 room-details-common-div">Luxury Room</div>
          <div class="col-sm-12 common-font-9 sandcastle-text-color luxury-text-details">Luxury Room Luxury RoomLuxury Room Luxury Room Luxury Room Luxury Room</div>
        </div>
        <div class="hotel-book-view-map room-details-common-div float-left full-width">
          <div class="col-sm-6">
            <input type="button" class="room-details-book-button sandcastle-bold sandcastle-text-capitalization" value="Book">
          </div>
          <div class="col-sm-6 sandcastle-bold sandcastle-text-capitalization view-on-map-link">
            <a href="#"><img src="assets/map_fa_icon.png"> View on Map</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 slide">
      <div class="hotel-image"><img src="assets/about_us_slider_bg_img.png"></div>
      <div class="hotel-details-except-image float-left">
        <div class="hotel-rate float-left room-details-common-div sandcastle-text-capitalization sandcastle-text-color">FROM <span class="sandcastle-bold hotel-price-value">$120</span></div>
        <div class="hotel-rating-review float-left full-width"><div class="col-sm-6"><div class="roomdetails-page-reviewer-rating">
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
        </div></div><div class="col-sm-6 float-left sandcastle-text-color">485 Reviews</div></div>
        <div class="hotel-about-section float-left room-details-common-div full-width">
          <div class="col-sm-12 sandcastle-bold sandcastle-text-capitalization common-font-15 room-details-common-div">Luxury Room</div>
          <div class="col-sm-12 common-font-9 sandcastle-text-color luxury-text-details">Luxury Room Luxury RoomLuxury Room Luxury Room Luxury Room Luxury Room</div>
        </div>
        <div class="hotel-book-view-map room-details-common-div float-left full-width">
          <div class="col-sm-6">
            <input type="button" class="room-details-book-button sandcastle-bold sandcastle-text-capitalization" value="Book">
          </div>
          <div class="col-sm-6 sandcastle-bold sandcastle-text-capitalization view-on-map-link">
            <a href="#"><img src="assets/map_fa_icon.png"> View on Map</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 slide">
      <div class="sandcastle-text-capitalization sale-available-on-hotels"><img src="assets/room_sale.png"></div>
      <div class="hotel-image"><img src="assets/about_us_slider_bg_img.png"></div>
      <div class="hotel-details-except-image float-left full-width">
        <div class="hotel-rate float-left room-details-common-div sandcastle-text-capitalization sandcastle-text-color sandcastle-text-font-montserrat">FROM <span class="sandcastle-bold hotel-price-value">$120</span></div>
        <div class="hotel-rating-review float-left full-width"><div class="col-sm-6"><div class="roomdetails-page-reviewer-rating">
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
        </div></div><div class="col-sm-6 float-left sandcastle-text-color sandcastle-text-font-montserrat">485 Reviews</div></div>
        <div class="hotel-about-section float-left room-details-common-div full-width">
          <div class="col-sm-12 sandcastle-bold sandcastle-text-capitalization common-font-15 room-details-common-div sandcastle-text-font-montserrat">Luxury Room</div>
          <div class="col-sm-12 common-font-9 sandcastle-text-color luxury-text-details sandcastle-text-font-montserrat">Luxury Room Luxury RoomLuxury Room Luxury Room Luxury Room Luxury Room</div>
        </div>
        <div class="hotel-book-view-map room-details-common-div float-left full-width">
          <div class="col-sm-6">
            <input type="button" class="room-details-book-button sandcastle-bold sandcastle-text-capitalization sandcastle-text-font-montserrat" value="Book">
          </div>
          <div class="col-sm-6 sandcastle-bold sandcastle-text-capitalization view-on-map-link  sandcastle-text-font-montserrat">
            <a href="#"><img src="assets/map_fa_icon.png"> View on Map</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 slide">
      <div class="hotel-image"><img src="assets/about_us_slider_bg_img.png"></div>
      <div class="hotel-details-except-image float-left">
        <div class="hotel-rate float-left room-details-common-div sandcastle-text-capitalization sandcastle-text-color">FROM <span class="sandcastle-bold hotel-price-value">$120</span></div>
        <div class="hotel-rating-review float-left full-width"><div class="col-sm-6"><div class="roomdetails-page-reviewer-rating">
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
        </div></div><div class="col-sm-6 float-left sandcastle-text-color">485 Reviews</div></div>
        <div class="hotel-about-section float-left room-details-common-div full-width">
          <div class="col-sm-12 sandcastle-bold sandcastle-text-capitalization common-font-15 room-details-common-div">Luxury Room</div>
          <div class="col-sm-12 common-font-9 sandcastle-text-color luxury-text-details">Luxury Room Luxury RoomLuxury Room Luxury Room Luxury Room Luxury Room</div>
        </div>
        <div class="hotel-book-view-map room-details-common-div float-left full-width">
          <div class="col-sm-6">
            <input type="button" class="room-details-book-button sandcastle-bold sandcastle-text-capitalization" value="Book">
          </div>
          <div class="col-sm-6 sandcastle-bold sandcastle-text-capitalization view-on-map-link">
            <a href="#"><img src="assets/map_fa_icon.png"> View on Map</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 slide">
      <div class="hotel-image"><img src="assets/about_us_slider_bg_img.png"></div>
      <div class="hotel-details-except-image float-left">
        <div class="hotel-rate float-left room-details-common-div sandcastle-text-capitalization sandcastle-text-color">FROM <span class="sandcastle-bold hotel-price-value">$120</span></div>
        <div class="hotel-rating-review float-left full-width"><div class="col-sm-6"><div class="roomdetails-page-reviewer-rating">
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
          <i class="fa fa-star star-color-yello"></i>
        </div></div><div class="col-sm-6 float-left sandcastle-text-color">485 Reviews</div></div>
        <div class="hotel-about-section float-left room-details-common-div full-width">
          <div class="col-sm-12 sandcastle-bold sandcastle-text-capitalization common-font-15 room-details-common-div">Luxury Room</div>
          <div class="col-sm-12 common-font-9 sandcastle-text-color luxury-text-details">Luxury Room Luxury RoomLuxury Room Luxury Room Luxury Room Luxury Room</div>
        </div>
        <div class="hotel-book-view-map room-details-common-div float-left full-width">
          <div class="col-sm-6">
            <input type="button" class="room-details-book-button sandcastle-bold sandcastle-text-capitalization" value="Book">
          </div>
          <div class="col-sm-6 sandcastle-bold sandcastle-text-capitalization view-on-map-link">
            <a href="#"><img src="assets/map_fa_icon.png"> View on Map</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-divider room-details-section-divider">
  </div>
</section>