<% content_for :header_class, 'thankyou_page_content' %>
<% content_for :hero_title, "THANK YOU!".html_safe %> <!-- Hero/Page Title -->
<% content_for :hero_size, 'hero-small' %> <!-- What's the hero size for the header? -->
<% content_for :bottom_border, 'bottom-border' %> <!-- Does the header have a bottom border in the hero? -->
<div class="section-divider rent-thankyou-divider">
  <img src="assets/vacation-summary.png">
</div>

<!--<div class="section-divider thank-you-page-content-devider">-->
  <!--<div class="float-left first-devider-div"><img src="assets/divider.png" /></div>-->
  <!--<div class="float-left second-devider-div"><div class="vacation-summary-div">VACATION SUMMARY</div></div>-->
  <!--<div class="float-left second-devider-div"><img src="assets/divider.png" /></div>-->
<!--</div>-->
<div class="section-divider rent-thankyou-divider">
  <span class="rent-details-span">RATE DETAILS </span><span>  |  </span><span class="thank-you-span"> THANK YOU</span>
</div>
<section id="visitors-help" class="scallop-top beige-bg thankyou-page-content-section" xmlns="http://www.w3.org/1999/html">
  <div class="layout-container">
    <div class="col-sm-8">
      <div class="thank-you-greeting-receipt">
        <div class="thankyou-common-div sandcastle-text-capitalization sandcastle-bold thanks-to-user">THANK YOU JOHN!</div>
        <div class="thankyou-common-div sandcastle-text-capitalization sandcastle-bold booking-formatiom-alert-text">Your booking order is confirmed now.</div>
        <div class="thankyou-common-div confirmation-email-text">A confirmation email has been sent to your provided email address</div>
        <div class="thankyou-common-div"><i class="fa fa-print thankyou-print-fa sandcastle-text-color" aria-hidden="true"></i><input type="button" class="sandcastle-text-capitalization sandcastle-text-color print-booking-details-button" onclick="window.print();" value="Print Details"></div>
      </div>
      <div class="booking-receipt-details table-responsive">
        <div class="booking-receipt-headings common-font-20 sandcastle-bold">YOUR INFORMATION</div>
        <table class="table table-bordered">
          <tbody>
          <tr class="odd">
            <td class="common-font-10">Booking Number</td>
            <td class="sandcastle-bold common-font-10">123456</td>
          </tr>
          <tr class="even">
            <td class="common-font-10">First Name</td>
            <td class="sandcastle-bold common-font-10">Randell</td>
          </tr>
          <tr class="odd">
            <td class="common-font-10">Last name</td>
            <td class="sandcastle-bold common-font-10">Stillwell</td>
          </tr>
          <tr class="even">
            <td class="common-font-10">Email Address</td>
            <td class="sandcastle-bold common-font-10">me@randellstillwel.com</td>
          </tr>
          <tr class="odd">
            <td class="common-font-10">Street Address</td>
            <td class="sandcastle-bold common-font-10">123 Anywhere lane</td>
          </tr>
          <tr class="even">
            <td class="common-font-10">Country</td>
            <td class="sandcastle-bold common-font-10">United State of America</td>
          </tr>
          <tr class="odd">
            <td class="common-font-10">State/Providence</td>
            <td class="sandcastle-bold common-font-10">Colorado</td>
          </tr>
          <tr class="even">
            <td class="common-font-10">City</td>
            <td class="sandcastle-bold common-font-10">Somewhere</td>
          </tr>
          <tr class="odd">
            <td class="common-font-10">Zip code</td>
            <td class="sandcastle-bold common-font-10">12345</td>
          </tr>
          </tbody>
        </table>
        <div class="receipt-payment-section">
          <div class="booking-receipt-headings sandcastle-text-capitalization sandcastle-bold common-font-20">Payment</div>
          <div class="thankyou-common-div common-font-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
          <a class="thankyou-common-div sandcastle-text-color sandcastle-text-capitalization thankyou-credit-card-receipt-text">Payment was made by credit card. Click here to view your receipt.</a>
        </div>
        <div class="receipt-booking-details-section">
          <div class="booking-receipt-headings sandcastle-text-capitalization sandcastle-bold common-font-20">Booking Details</div>
          <div class="thankyou-common-div common-font-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
          <div class="thankyou-page-hotel-photo thankyou-common-div"><img src="assets/thank-you-page-hotel.png"></div>
          <div class="thankyou-common-div sandcastle-text-capitalization sandcastle-bold common-font-14">LUNA Y SOL</div>
          <div class="common-font-9">Puerto Penasco, Maxico</div>
          <div class=""><a class="thankyou-view-map-link sandcastle-text-color common-font-9" href="/maps">View Map</a></div>
          <div class=""><div class="thankyou-page-user-rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div></div>
        </div>
        <div class="line-separator"></div>
        <div class="thankyou-common-div hotel-stay-duration common-font-11"><span class="stay-duration-span"><i class="fa fa-clock-o common-font-12" aria-hidden="true"></i> 3 NIGHTS</span> &nbsp;&nbsp;AUG 05, 2016/AUG 08 2016</div>
        <div class="line-separator"></div>
        <div class="thankyou-common-div hotel-tenant-details">
          <div class="sandcastle-text-capitalization">1 townhouse for:</div>
          <div class="sandcastle-text-capitalization">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 Adult</div>
          <div class="sandcastle-text-capitalization">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2 Children</div>
          <div class="sandcastle-text-capitalization">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 Pet</div>
        </div>
        <div class="line-separator"></div>
        <div class="panel panel-default hotel-details-panel">
          <div class="panel-heading sandcastle-text-capitalization">
            <div class="sandcastle-bold thankyou-common-div common-font-16">Details</div>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-condensed">
                <tbody>
                <tr>
                  <td class="sandcastle-text-color sandcastle-text-capitalization common-font-12">Type</td>
                  <td class="text-right common-font-12">TOWNHOUSE</td>
                </tr>
                <tr>
                  <td class="sandcastle-text-color sandcastle-text-capitalization common-font-12">Rent</td>
                  <td class="text-right common-font-12">$280</td>
                </tr>
                <tr>
                  <td class="sandcastle-text-color sandcastle-text-capitalization common-font-12">Damage Waiver</td>
                  <td class="text-right common-font-12">$25</td>
                </tr>
                <tr>
                  <td class="sandcastle-text-color sandcastle-text-capitalization common-font-12">Cleaning fee</td>
                  <td class="text-right common-font-12">$65</td>
                </tr>
                <tr>
                  <td class="sandcastle-text-color sandcastle-text-capitalization common-font-12">TAX</td>
                  <td class="text-right common-font-12">$44.80</td>
                </tr>
                <tr>
                  <td class="sandcastle-text-capitalization sandcastle-bold common-font-16 total-price-common">Total Price</td>
                  <td class="text-right sandcastle-bold total-price-number total-price-common"><span class="common-font-24">414.80</span></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="panel panel-default payment-schedule-panel">
          <div class="panel-heading sandcastle-text-capitalization">
            <div class="thankyou-common-div sandcastle-bold common-font-16">Payment Schedule</div>
          </div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-condensed">
                <tbody>
                <tr>
                  <td class="sandcastle-text-color common-font-12">17/10/2016</td>
                  <td class="text-right common-font-12">$140</td>
                </tr>
                <tr>
                  <td class="sandcastle-text-color common-font-12">11/11/2016</td>
                  <td class="text-right common-font-12">$274</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4 want-to-chat-container">
      <div class="form-group">
        <label class="want-to-chat-header">WANT TO CHAT?</label>
      </div>
      <div class="form-group">
        <label class="want-to-chat-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</label>
      </div>
      <div class="checkbox">
        <i class="fa fa-phone" aria-hidden="true"></i><label> (888) 328-841</label>
      </div>
      <div class="checkbox">
        <i class="fa fa-envelope-o" aria-hidden="true"></i><label> info@gooceano.com</label>
      </div>
    </div>
  </div>
  <div class="first-section-divider"></div>
</section>