<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Contact</h1>
        <p><%= @name %>
        <p><%= @email %></p>
        <p><%= @phonenumber %></p>
        <p><%= @message %></p>
    </body>
</html>
