.property-search{
    background-color: transparent;
    margin: -135px auto 100px auto;
    max-width: 880px;
    padding: 20px;
    position: relative;
    box-shadow: none;
    border-radius: 3px 3px 3px 3px;
}

.testimonial-bg-image{
    background: url("TestimonialImage.jpg") bottom center no-repeat;
    background-size: cover;
    padding: 0px;
    color: white;
    content: '';
    background-attachment: fixed;
    background-position: center;
    position: relative;
    width: 100%;
}

.testimonial-bg-image .bx-viewport{
    width: 100%;
    overflow: hidden;
    position: relative;
    background: transparent;
    margin: 0px;
    border: none;
    box-shadow: none;
}

.testimonial-bg-image .bx-wrapper{
    margin: 0 auto;
}

.center-image-align{
    margin: 0 auto;
    height: 100px;
    border-radius: 50px;
    width: 100px;
}

.testimonial-user-rating{
    color:#fbd839;
    font-size:20px;
    text-align: center;
}

.testimonial-comment{
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    padding: 0 10%;
}

.testimonial-user-name{
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
}

.testimonial-bg-image .bx-prev{

}

.call-now-bg{
    background-color: #fbd839;
    padding: 2.5% 20%;
    text-align: left;
    height: 103px;
}

.hot-offer{
    font-size: 15px;
    color: #38bcfa;
    padding-top:20px;
    font-family: "Montserrat";
    font-weight: 400;
}

.room-name-text{
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 600;
}

.offer-btn {
    color: white;
    background-color: #38bcfa;
    width: 30%;
}

.price-btn {
    color: white;
    background-color: #38bcfa;
    width: 30%;
}

.homepage-main-bar{
    border-bottom: 1px solid white;
    float: left;
    color: white;
    width: 100%;
    font-size: 12px;
    padding: 5px 4%;
    font-weight: 600;
}

.icons-div{
    float: left;
    width: 10%;
}

.margin-right-10{
    margin-right: 10%;
}

.login-register-div{
    float: right;
    font-size: 12px;
    color: white;
    font-family: "Montserrat";
}

.main-search-div{
    float: left;
    width: 83%;
    font-family: "Montserrat";
    font-size: 1.4em;
    font-weight: 300;
    color: #bababa;
    background: white;
    border-top-left-radius: 8px;
    height: 57px;
    border-bottom-left-radius: 8px;
    /*padding: 2.5%;*/
}

.main-search-div fieldset{
    float: left;
    height: auto;
    font-size: 12px;
    padding: 15px 0px;
}

.width-25{
    width:25%;
}

.width-30{
    width: 30%;
}

.width-15{
    width: 15%;
}

.main-search-div fieldset .fa{
    padding: 0 10px;
    font-size: 16px;
}

.btn-bg-color{
    background: #39bdfb;
}

.font-22-px{
    font-size: 1.8em !important;
}

.footer-bg{
    background: url("footer-img.png") bottom center no-repeat;
    background-size: cover;
    padding: 0px;
    color: white;
    content: '';
    background-position: center;
    position: relative;
    width: 100%;
    height: 190px;
}

.footer-main-div{
    float: left;
    padding: 1% 8%;
    width: 100%;
}

.menu-list-div{
    float: left;
    padding: 3.5% 0%;
    width: 77%;
    font-size: 16px;
    font-family: "Montserrat";
}

.list-div{
    float: left;
    padding: 0% 10%;
    width: 80%;
}

.footer-menu-icon-div{
    float: right;
    font-size: 20px;
    width: 20%;
}

.padding-right-5{
 padding-right: 5%;
}

.footer-menu-list{
    float: left;
    width: 100%;
    font-size: 14px;
    padding: 0 28%;
    font-family: "Montserrat";
}

.text-divider{
    height: 38px;
    float: left;
    padding-right: 2%;
    border-left: 1px solid #ffffff;
}

.list-div-text{
    padding: 2%;
    padding-right: 5%;
}

.footer-menu-icon-div .fa{
    padding: 7%;
    padding-right: 13%;
}

.footer-bg .homepage-main-bar{
    padding: 0px;
}

.get-some-deal{
    background: url("get-some-deals-image.png") bottom center no-repeat;
    background-size: cover;
    padding: 0px;
    height:250px;
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    content: '';
}

/*Featured Attractions */

.venues {
    margin-left: 10px;
    width: 240px !important;
}

.infocus-images {
    height: 250px;
    width: 240px;
}

.outfocus-images {
    height: 283px;
    width: 240px;
    opacity: 0.6;
}

.image-caption {
    top: -35px;
    color: white;
    text-align: center;
    font-size: 21px;
    position: relative;
    font-weight: 500;
}

.feedback {
    float: left;
    width: 240px;
    height: 33px;
    background: #f7f7f7;
    margin-top: -31px;
}

.likes, .comments {
    float: left;
    width: 50%;
    height: 33px;
    text-align: center;
}

.comments {
    border-left: none;
}

.fa-heart {
    color: deepskyblue;
    font-size: 14px;
    margin-right: 10px;
    padding-top: 9px;
}

.fa-comment {
    color: yellow;
    font-size: 14px;
    margin-right: 10px;
    padding-top: 9px;
}

.number {
    font-weight: bold;
    font-size: 15px;
}

/*home page css*/
.center-heading{
    margin-left: 38% !important;
    margin-right: 20% !important;
}

/* Find Gateway header */
.site-header .heading-large.margin-top-by-5{
    font-size: 70px;
}

.main-search-div .text-divider{
    height: 30px;
    float: right;
    padding-right: 2%;
    border-left: 2px solid #bababa;
}

.main-search-div fieldset span:first-child{
    line-height: 32px;
}

.email-address-text-box{
    height: 53px;
    border-radius: 10px;
    border: none;
    color: #bababa;
    width: 46%;
    float: left;
    margin-right: 5%;
    font-weight: 200;
    padding: 20px;
    font-family: Montserrat;
    font-size: 16px;
}

.subscribe-email-div{
    float: left;
    width: 100%;
    padding: 7% 0% 7% 47%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #adadad;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #adadad;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #adadad;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #adadad;
}

.section-divider{
    width: 100%;
    height: 70px;
    background: white;
}

.section-divider img{
    display: table-cell;
    margin: 0px auto;
    padding: 35px 0px;
}

.main-heading-div{
    background: white;
    height: 100px;
}

.main-heading-div img{
    display: table-cell;
    margin: 0 auto;
}

.featured-rooms-slider-section .bx-wrapper{
    margin: 0 auto;
}

.testimonial-main-div .bx-wrapper .bx-next, .testimonial-main-div .bx-wrapper .bx-prev{
    background: none;
}

.testimonial-main-div .bx-wrapper .bx-next img, .testimonial-main-div .bx-wrapper .bx-prev img{
    width: 21px ;
    height: 40px ;
}

.testimonial-main-div{
    padding: 60px 0;
}

.testimonial-main-div .center-image-align{
    margin-bottom: 2em;
}

.call-now-text{
    font-size: 2em;
    color: #fff;
    font-family: "Montserrat";
}

.phone-number-text{
    font-size: 3em;
    color: #fff;
    font-family: "Montserrat";
}

.room-details{
    font-family: "Montserrat";
    font-size: 12px;
    color: #a7a7a7;
}

.view-offer-btn{
    padding-top: 15px;
}

.rating-icon-div{
    color: #ffcc33;
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 4px;
}

.room-details-main-div{
    padding: 0% 8%;
    text-align: left;
}

.offer-rate{
    position: absolute;
    top: 0;
}

.room-icon-div{
    float: left;
    position: absolute;
    width: 41.7%;
    font-size: 20px;
    height: 100px;
    display: table-cell;
    text-align: center;
    color: white;
    background: rgba(255,255,255,0.5);
    bottom: 0px;
}

.featured-rooms-slider-section .bx-wrapper .bx-controls-direction a{
    top: 89%;
     margin-top: 0px;
}

.featured-rooms-slider-section .bx-wrapper .bx-next, .featured-rooms-slider-section .bx-wrapper .bx-prev{
    background: none;
}

.padding-bottom-2{
    padding-bottom: 2%;
}

.padding-top-1{
    padding-top: 1%;
}