.property-search{
    background-color: transparent;
    margin: -135px auto 100px auto;
    max-width: 880px;
    padding: 20px;
    position: relative;
    box-shadow: none;
    border-radius: 3px 3px 3px 3px;
}

.testimonial-bg-image{
    background: url("TestimonialImage.jpg") bottom center no-repeat;
    background-size: cover;
    padding: 0px;
    color: white;
    content: '';
    background-attachment: fixed;
    background-position: center;
    position: relative;
    width: 100%;
}

.testimonial-bg-image .bx-viewport{
    width: 100%;
    overflow: hidden;
    position: relative;
    background: transparent;
    margin: 0px;
    border: none;
    box-shadow: none;
}

.testimonial-bg-image .bx-wrapper{
    margin: 0 auto;
}

.center-image-align{
    margin: 5% auto;
    height: 100px;
    border-radius: 50px;
    width: 100px;
}

.testimonial-user-rating{
    color:#ffcc33;
    font-size:20px;
    text-align: center;
}

.testimonial-comment{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-right: 19%;
    margin-left: 19%;
}

.testimonial-user-name{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.testimonial-bg-image .bx-prev{

}

.call-now-bg{
    background-color:#ffcc33;
    padding-left: 20%;
    text-align:left;
}

.hot-offer{
    font-size: 15px;
    color: #38bcfa;
    padding-top:20px;
}
.offer-btn {
    color: white;
    background-color: #38bcfa;
    width: 30%;
}

.price-btn {
    color: white;
    background-color: #38bcfa;
    width: 30%;
}

.homepage-main-bar{
    border-bottom: 1px solid white;
    float: left;
    color: white;
    width: 100%;
    font-size: 12px;
    padding: 5px 4%;
    font-weight: 600;
}

.icons-div{
    float: left;
    width: 10%;
}

.margin-right-10{
    margin-right: 10%;
}

.login-register-div{
    float: right;
    font-size: 12px;
    color: white;
    font-family: Montserrat Regular;
}

.main-search-div{
    float: left;
    width: 60%;
    font-family: "Montserrat";
    font-size: 1.4em;
    font-weight: 300;
    color: #bababa;
    background: white;
    border-top-left-radius: 8px;
    height: 57px;
    border-bottom-left-radius: 8px;
    padding: 2.5%;
}

.main-search-div fieldset{
    float: left;
    height: auto;
    font-size: 12px;
}

.width-25{
    width:25%;
}

.width-30{
    width: 30%;
}

.width-15{
    width: 15%;
}

.main-search-div fieldset .fa{
    padding: 0 10px;
    font-size: 16px;
}

.btn-bg-color{
    background: #39bdfb;
}

.font-22-px{
    font-size: 1.8em !important;
}

.footer-bg{
    background: url("footer-img.png") bottom center no-repeat;
    background-size: cover;
    padding: 0px;
    color: white;
    content: '';
    background-attachment: fixed;
    background-position: center;
    position: relative;
    width: 100%;
}