.property-search{
    background-color: transparent;
    /*margin: -135px auto 100px auto;*/
    /*max-width: 880px;*/
    padding: 20px;
    /*position: relative;*/
    box-shadow: none;
    border-radius: 3px 3px 3px 3px;
}

.testimonial-bg-image{
    background: url("TestimonialImage.jpg") bottom center no-repeat;
    background-size: cover;
    padding: 0px;
    color: white;
    content: '';
    background-attachment: fixed;
    background-position: center;
    position: relative;
    width: 100%;
}

.testimonial-bg-image .bx-viewport{
    width: 100%;
    overflow: hidden;
    position: relative;
    background: transparent;
    margin: 0px;
    border: none;
    box-shadow: none;
}

.testimonial-bg-image .bx-wrapper{
    margin: 0 auto;
}

.center-image-align{
    margin: 0 auto;
}

.testimonial-user-rating{
    color:#fbd839;
    font-size:20px;
    text-align: center;
}

.testimonial-comment{
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 400;
    padding: 0 10%;
}

.testimonial-user-name{
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 600;
}

.testimonial-bg-image .bx-prev{

}

.call-now-bg{
    background-color: #fbd839;
    padding: 2.5% 15%;
    text-align: left;
    height: 103px;
    text-transform: uppercase;
}

.hot-offer{
    font-size: 15px;
    color: #38bcfa;
    padding-top:20px;
    font-family: "Montserrat";
    font-weight: 400;
}

.room-name-text{
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 600;
}

.offer-btn {
    color: white;
    background-color: #38bcfa;
    width: 30%;
}

.price-btn {
    color: white;
    background-color: #38bcfa;
    width: 30%;
}

.homepage-main-bar{
    border-bottom: 1px solid white;
    float: left;
    color: white;
    width: 100%;
    font-size: 12px;
    padding: 5px 4%;
    font-weight: 600;
}

.icons-div{
    float: left;
    /*width: 10%;*/
}

.margin-right-10{
    margin-right: 10%;
}

.login-register-div{
    float: right;
    font-size: 12px;
    color: white;
    font-family: "Montserrat";
}

.main-search-div{
    float: left;
    width: 76%;
    font-family: "Montserrat";
    font-size: 1.4em;
    font-weight: 300;
    color: #bababa;
    background: white;
    border-top-left-radius: 8px;
    height: 70px;
    border-bottom-left-radius: 8px;
    /*padding: 2.5%;*/
}

.main-search-div fieldset{
    float: left;
    height: auto;
    font-size: 15px;
    padding: 21px 0px;
}

.width-25{
    width:18%;
}

.width-30{
    width: 20%;
}

.width-15{
    width: 15%;
}

.main-search-div fieldset .fa{
    padding: 0 10px;
    font-size: 16px;
}

.btn-bg-color{
    background: #39bdfb;
}

.font-22-px{
    font-size: 1.8em !important;
}

.footer-bg{
    background: url("footer-img.png") bottom center no-repeat;
    background-size: cover;
    padding: 0px;
    color: white;
    content: '';
    background-position: center;
    position: relative;
    width: 100%;
    height: 190px;
}

.footer-main-div{
    float: left;
    padding: 1% 8%;
    width: 100%;
}

.menu-list-div{
    float: left;
    padding: 3.5% 0%;
    width: 77%;
    font-size: 16px;
    font-family: "Montserrat";
}

.list-div{
    float: left;
    padding: 0% 10%;
    width: 80%;
}

.footer-menu-icon-div{
    float: right;
    font-size: 20px;
    width: 20%;
}

.padding-right-5{
 padding-right: 5%;
}

.footer-menu-list{
    float: left;
    width: 100%;
    font-size: 14px;
    padding: 0 28%;
    font-family: "Montserrat";
}

.text-divider{
    height: 38px;
    float: left;
    padding-right: 2%;
    border-left: 1px solid #ffffff;
}

.list-div-text{
    padding: 2%;
    padding-right: 5%;
}

.footer-menu-icon-div .fa{
    padding: 7%;
    padding-right: 13%;
}

.footer-bg .homepage-main-bar{
    padding: 0px;
}

.get-some-deal{
    background: url("get-some-deals-image.png") bottom center no-repeat;
    background-size: cover;
    padding: 0px;
    height:250px;
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    content: '';
}

/*Featured Attractions */

.venues {
    margin-left: 10px;
    width: 270px !important;
}

.infocus-images {
    height: 250px;
}

.outfocus-images {
    height: 283px;
    width: 100%;
    opacity: 0.6;
}

.image-caption {
    top: -35px;
    color: white;
    text-align: center;
    font-size: 21px;
    position: relative;
    font-weight: 500;
    font-family: "Montserrat";
}

.feedback {
    float: left;
    width: 100%;
    height: 33px;
    background: #f7f7f7;
    margin-top: -31px;
}

.likes, .comments {
    float: left;
    width: 50%;
    height: 33px;
    text-align: center;
    border: 1px solid rgb(186, 186, 186);
}

.comments {
    border-left: none;
}

.fa-heart {
    color: deepskyblue;
    font-size: 14px;
    margin-right: 10px;
    padding-top: 9px;
}

.fa-comment {
    color: yellow;
    font-size: 14px;
    margin-right: 10px;
    padding-top: 9px;
}

.number {
    font-weight: bold;
    font-size: 15px;
    font-family: "Montserrat";
}

/*home page css*/
.center-heading{
    margin-left: 32% !important;
    margin-right: 20% !important;
}

/* Find Gateway header */
.site-header .heading-large.margin-top-by-5{
    font-size: 60px;
    font-family: "Montserrat";
}

.main-search-div .text-divider{
    height: 30px;
    float: right;
    padding-right: 2%;
    border-left: 2px solid #bababa;
}

.main-search-div fieldset span:first-child{
    line-height: 32px;
}

.email-address-text-box{
    height: 53px;
    border-radius: 10px;
    border: none;
    color: #bababa;
    width: 46%;
    float: left;
    margin-right: 5%;
    font-weight: 200;
    padding: 20px;
    font-family: "Montserrat";
    font-size: 16px;
}

.subscribe-email-div{
    float: left;
    width: 100%;
    padding: 7% 0% 7% 47%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #adadad;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #adadad;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #adadad;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #adadad;
}

.section-divider{
    width: 100%;
    height: 70px;
    background: white;
}

.section-divider img{
    display: table-cell;
    margin: 0px auto;
    padding: 35px 0px;
}

.main-heading-div{
    background: white;
    height: 100px;
}

.main-heading-div img{
    display: table-cell;
    margin: 0 auto;
}

.featured-rooms-slider-section .bx-wrapper{
    margin: 0 auto;
}

.testimonial-main-div .bx-wrapper .bx-next, .testimonial-main-div .bx-wrapper .bx-prev{
    background: none;
}

.testimonial-main-div .bx-wrapper .bx-next img, .testimonial-main-div .bx-wrapper .bx-prev img{
    width: 21px ;
    height: 40px ;
}

.testimonial-main-div{
    padding: 60px 0;
}

.testimonial-main-div .center-image-align{
    margin-bottom: 2em;
}

.call-now-text{
    font-size: 2em;
    color: #fff;
    font-family: "Montserrat";
}

.phone-number-text{
    font-size: 3em;
    color: #fff;
    font-family: "Montserrat";
}

.room-details{
    font-family: "Montserrat";
    font-size: 12px;
    color: #a7a7a7;
}

.view-offer-btn{
    padding-top: 15px;
}

.rating-icon-div{
    color: #ffcc33;
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 4px;
}

.room-details-main-div{
    padding-right: 5%;
    padding-left: 15%;
    text-align: left;
    background: #f7f7f7;
    height: 317px;
}

.offer-rate{
    position: absolute;
    top: -1px;
}

.room-icon-div{
    float: left;
    position: absolute;
    width: 41.7%;
    font-size: 20px;
    height: 100px;
    display: table-cell;
    text-align: center;
    color: white;
    background: rgba(255,255,255,0.5);
    bottom: 0px;
}

.featured-rooms-slider-section .bx-wrapper .bx-controls-direction a{
    top: 89%;
     margin-top: 0px;
}

.featured-rooms-slider-section .bx-wrapper .bx-next, .featured-rooms-slider-section .bx-wrapper .bx-prev{
    background: none;
}

.feature-atrraction-sliders .bx-wrapper .bx-next, .feature-atrraction-sliders .bx-wrapper .bx-prev{
    background: none;
}

.feature-atrraction-sliders .bx-wrapper .bx-controls-direction a{
    top: 80%;
    margin-top: 0px;
    margin-left: 15px;
}

.padding-bottom-2{
    padding-bottom: 2%;
}

.padding-top-1{
    padding-top: 1%;
}

.property-search{
    /*margin: 0 122px;*/
    padding-bottom: 0% !important;
    margin: 0 auto;
    width: 74%;
}
section.main-content .layout-container{
    top: -200px;
}
section.main-content .layout-container{
    width: 100%;
}
section.main-content footer.md-two-twelfths img{
    height: 70px;

}
section.main-content footer.md-two-twelfths{
    /*width:19.66667%;*/

}
.login-register-div{
    font-size: 15px;
}
section.main-content{
    height: 1px;
}
.main-navigation .highlight-selected{
    background: none;
}
.site-header.full-background{
    height: 67%;
}
.hero .padded-top{
    padding-top: 70px !important;
}

.homepage-main-bar .login-register-div{
    width: 165px;
    text-transform: uppercase;
    font-weight: normal;
}
.homepage-main-bar .login-register-div .text-divider {
    height: 38px;
    float: none;
    margin: 0 10px 0px 10px;
}
.featured-rooms-slider-section .bx-viewport{
    height: 420px !important;
}

.featured-rooms-slider-section .md-one-whole.sm-one-whole .last-child-div{
    opacity: 0.5;
}

.featured-rooms-slider-section .md-one-whole.sm-one-whole .last-child-div img{
    height: 420px;
}

.room-icon-div-img{
    position: absolute;
    bottom: 0;
    width: 41.7%;
}

.site-header .main-navigation{
    width: 100%;
}
.site-header .main-navigation li a{
    font-family: "Montserrat" !important;
    font-size: 17px;
    font-weight: normal;
}
.site-header .homepage-main-bar .icons-div .fa-lg{
    margin-right: 5%;
}
.site-header .homepage-main-bar .icons-div{
    width: 50%;
}
.site-header .brand-container {
    margin-left: 5.5%;
}
.site-header .hero{
    width: 100%;
    float: left;
}
.site-header.full-background:before{
    background-size: 100% 100%;
}
.hero .layout-centered{
    float: left;
    width: 100%;
    clear: both;
}

.site-header .navbar-inverse {
    width: 100%;
    float: left;
}

#bs-example-navbar-collapse-1 .main-navigation .padding-top-by-7{
    padding: 7px 21px !important;
}
@-moz-document url-prefix() {
    .site-header.full-background .hero{
        margin-top: 0px;
    }
}
section.main-content footer.md-two-twelfths{
    /*width: 24%;*/
}

.search-btn{
    background: #39bdfb;
}

.property-search fieldset .select-style,.property-search fieldset input{
    border: none;
}
form .select-style select{
    padding: 1.2em;
}
form .select-style:before{
    display: none;
}
input { font-family: 'FontAwesome'; } /* This is for the placeholder */
.sm-one-third input{
    font-family: 'FontAwesome';
    color:#bababa;
    position: relative;
    /*left: -10px;*/
    content: "\f073";
}

section.main-content .property-search form .text-divider{
    border-right: 2px solid #bababa;
    margin: 15px 0px;
    height: 35px;
    border-left: 1px solid #ffffff;
    position: absolute;
    top: 0;
    right: 0;
}