.property-search{
    background-color: transparent;
    margin: -135px auto 100px auto;
    max-width: 880px;
    padding: 20px;
    position: relative;
    box-shadow: none;
    border-radius: 3px 3px 3px 3px;
}

.testimonial-bg-image{
    background: url("TestimonialImage.jpg") bottom center no-repeat;
    background-size: cover;
    padding: 0px;
    color: white;
    content: '';
    background-attachment: fixed;
    background-position: center;
    position: relative;
    width: 100%;
}

.testimonial-bg-image .bx-viewport{
    width: 100%;
    overflow: hidden;
    position: relative;
    background: transparent;
    margin: 0px;
    border: none;
    box-shadow: none;
}

.testimonial-bg-image .bx-wrapper{
    margin: 0 auto;
}

.center-image-align{
    margin: 5% auto;
    height: 100px;
    border-radius: 50px;
    width: 100px;
}

.testimonial-user-rating{
    color:#ffcc33;
    font-size:20px;
    text-align: center;
}

.testimonial-comment{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-right: 19%;
    margin-left: 19%;
}

.testimonial-user-name{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.testimonial-bg-image .bx-prev{

}

.call-now-bg{
    background-color:#ffcc33;
    padding-left: 20%;
    text-align:left;
}

.hot-offer{
    font-size: 15px;
    color: #38bcfa;
    padding-top:20px;
}
.offer-btn {
    color: white;
    background-color: #38bcfa;
    width: 30%;
}

.price-btn {
    color: white;
    background-color: #38bcfa;
    width: 30%;
}

.homepage-main-bar{
    border-bottom: 1px solid white;
    float: left;
    color: white;
    width: 100%;
    font-size: 12px;
    padding: 5px 4%;
    font-weight: 600;
}

.icons-div{
    float: left;
    width: 10%;
}

.margin-right-10{
    margin-right: 10%;
}

.login-register-div{
    float: right;
    font-size: 12px;
    color: white;
    font-family: Montserrat Regular;
}

.main-search-div{
    float: left;
    width: 60%;
    font-family: "Montserrat";
    font-size: 1.4em;
    font-weight: 300;
    color: #bababa;
    background: white;
    border-top-left-radius: 8px;
    height: 57px;
    border-bottom-left-radius: 8px;
    padding: 2.5%;
}

.main-search-div fieldset{
    float: left;
    height: auto;
    font-size: 12px;
}

.width-25{
    width:25%;
}

.width-30{
    width: 30%;
}

.width-15{
    width: 15%;
}

.main-search-div fieldset .fa{
    padding: 0 10px;
    font-size: 16px;
}

.btn-bg-color{
    background: #39bdfb;
}

.font-22-px{
    font-size: 1.8em !important;
}

.footer-bg{
    background: url("footer-img.png") bottom center no-repeat;
    background-size: cover;
    padding: 0px;
    color: white;
    content: '';
    background-position: center;
    position: relative;
    width: 100%;
    height: 190px;
}

.footer-main-div{
    float: left;
    padding: 1% 8%;
    width: 100%;
}

.menu-list-div{
    float: left;
    padding: 3.5% 0%;
    width: 77%;
    font-size: 16px;
    font-family: "Montserrat";
}

.list-div{
    float: left;
    padding: 0% 10%;
    width: 80%;
}

.footer-menu-icon-div{
    float: right;
    font-size: 20px;
    width: 20%;
}

.padding-right-5{
 padding-right: 5%;
}

.footer-menu-list{
    float: left;
    width: 100%;
    font-size: 14px;
    padding: 0 28%;
    font-family: "Montserrat";
}

.text-divider{
    height: 38px;
    float: left;
    padding-right: 2%;
    border-left: 1px solid #ffffff;
}

.list-div-text{
    padding: 2%;
    padding-right: 5%;
}

.footer-menu-icon-div .fa{
    padding: 7%;
    padding-right: 13%;
}

.footer-bg .homepage-main-bar{
    padding: 0px;
}

.get-some-deal{
    background: url("featr-bg.png") bottom center no-repeat;
    background-size: cover;
    padding: 0px;
    height:350px;
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    content: '';
}

/*Featured Attractions */

.venues {
    margin-left: 10px;
    width: 240px !important;
}

.infocus-images {
    height: 250px;
    width: 240px;
}

.outfocus-images {
    height: 283px;
    width: 240px;
    opacity: 0.6;
}

.image-caption {
    top: -35px;
    color: white;
    text-align: center;
    font-size: 21px;
    position: relative;
    font-weight: 500;
}

.feedback {
    float: left;
    width: 240px;
    height: 33px;
    background: #f7f7f7;
    margin-top: -31px;
}

.likes, .comments {
    float: left;
    width: 50%;
    height: 33px;
    text-align: center;
}

.comments {
    border-left: none;
}

.fa-heart {
    color: deepskyblue;
    font-size: 14px;
    margin-right: 10px;
    padding-top: 9px;
}

.fa-comment {
    color: yellow;
    font-size: 14px;
    margin-right: 10px;
    padding-top: 9px;
}

.number {
    font-weight: bold;
    font-size: 15px;
}

