<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700"/>
<footer class="site-footer scallop-top footer-bg">
        <div class="layout-container">
            <div class="one-whole sm-one-half links">
                <div class="gw">
                    <ul class="g md-one-third">
                        <li><a class="hacienda-hover-color" href="/">Home</a></li>
                        <li><a class="hacienda-hover-color" href="/accommodations">Reserve</a></li>
                        <li><a class="hacienda-hover-color" href="/about">About</a></li>
                        <li><a class="hacienda-hover-color" href="/resources">Resources</a></li>
                    </ul>
                    <ul class="g md-one-third">
                        <li><a class="hacienda-hover-color" href="/faq">FAQ</a></li>
                        <li><a class="hacienda-hover-color" href="/contact">Contact</a></li>
                        <li><a class="hacienda-hover-color" href="/maps">Maps</a></li>
                        <li><a class="hacienda-hover-color" href="/facilities">Facilities</a></li>
                    </ul>
                </div>
                <a class="logo" href="#">
                    <h1 class="hacienda-logo"><i>Hacienda del Mar</i></h1>
                </a>
                <p class="copyright">© 2016 Hacienda del Mar L.L.C.</p>
            </div>
            <div class="one-whole links social-links">
                <div class="gw">
                    <ul class="g md-one-third">
                        <li class="social-link-item">
                            <a class="social-link" title="Contact us on Twitter" href="#" >
                                <svg class="svg-social-icon hacienda-hover-color"><use xlink:href="#twitter" /></svg>
                            </a>
                        </li>
                        <li class="social-link-item">
                            <a class="social-link" title="Like us on Facebook" href="https://www.facebook.com/Hacienda-del-Mar-Bed-Breakfast-150613631714229/?ref=bookmarks" target="_blank">
                                <svg class="svg-social-icon"><use xlink:href="#facebook" /></svg>
                            </a>
                        </li>
                        <li class="social-link-item">
                            <a class="social-link" title="Follow us on Instagram" href="#">
                                <svg class="svg-social-icon"><use xlink:href="#instagram" /></svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>