<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400,700"/>
<link rel="stylesheet" href="https://fontlibrary.org/face/grand-hotel"/>

<footer class="footer-bg">
  <div class="footer-main-div">
    <div class="mobile-aligned-footer-logo footer-img-logo">
      <img class="float-left" src="/assets/footer-logo.png" />
    </div>
    <div class="menu-list-div">
      <div class="list-div">
        <span class="float-left list-div-text"><a href="#">ROOMS</a></span>
        <span class="text-divider"></span>
        <span class="float-left list-div-text"><a href="attractions">ATTRACTIONS</a></span>
        <span class="text-divider"></span>
        <span class="float-left list-div-text"><a href="contact">CONTACT</a></span>
      </div>
      <div class="footer-menu-icon-div">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter "></i>
        <i class="fa fa-instagram "></i>
      </div>
    </div>
  </div>
  <div class="homepage-main-bar"></div>
  <div class="footer-menu-list">
    <span class="float-left padding-right-9 "><a href="faq">FAQ</a></span>
    <span class="float-left padding-right-9 "><a href="maps">MAPS</a></span>
    <span class="float-left padding-right-9"><a href="about">ABOUT</a></span>
    <span class="float-left padding-right-9"><a href="policy">PRIVACY POLICY</a></span>
    <span class="float-left"><a href="facilities">FACILITIES</a></span>
  </div>
        <!--<div class="layout-container">-->
            <!--<div class="one-whole sm-one-half links">-->
                <!--<div class="gw">-->
                    <!--<ul class="g md-one-third">-->
                        <!--<li><a class="hacienda-hover-color" href="/">Home</a></li>-->
                        <!--<li><a class="hacienda-hover-color" href="/accommodations">Reserve</a></li>-->
                        <!--<li><a class="hacienda-hover-color" href="/about">About</a></li>-->
                        <!--<li><a class="hacienda-hover-color" href="/resources">Resources</a></li>-->
                    <!--</ul>-->
                    <!--<ul class="g md-one-third">-->
                        <!--<li><a class="hacienda-hover-color" href="/faq">FAQ</a></li>-->
                        <!--<li><a class="hacienda-hover-color" href="/contact">Contact</a></li>-->
                        <!--<li><a class="hacienda-hover-color" href="/maps">Maps</a></li>-->
                        <!--<li><a class="hacienda-hover-color" href="/facilities">Facilities</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<a class="logo" href="#">-->
                    <!--<h1 class="hacienda-logo"><i>Hacienda del Mar</i></h1>-->
                <!--</a>-->
                <!--<p class="copyright">© 2016 Hacienda del Mar L.L.C.</p>-->
            <!--</div>-->
            <!--<div class="one-whole links social-links">-->
                <!--<div class="gw">-->
                    <!--<ul class="g md-one-third">-->
                        <!--<li class="social-link-item">-->
                            <!--<a class="social-link" title="Contact us on Twitter" href="#" >-->
                                <!--<svg class="svg-social-icon hacienda-hover-color"><use xlink:href="#twitter" /></svg>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="social-link-item">-->
                            <!--<a class="social-link" title="Like us on Facebook" href="https://www.facebook.com/Hacienda-del-Mar-Bed-Breakfast-150613631714229/?ref=bookmarks" target="_blank">-->
                                <!--<svg class="svg-social-icon"><use xlink:href="#facebook" /></svg>-->
                            <!--</a>-->
                        <!--</li>-->
                        <!--<li class="social-link-item">-->
                            <!--<a class="social-link" title="Follow us on Instagram" href="#">-->
                                <!--<svg class="svg-social-icon"><use xlink:href="#instagram" /></svg>-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </footer>